<section class="position-relative">
    <img class="position-absolute end-0 top-0 d-none d-lg-block z-n1" src="/assets/images/Home_Page/bg_brownies.png" alt="bg_brownies" height="744" width="584">
    <div class="container pt-lg-12 pb-lg-11 py-10">
        <div class="mb-lg-10 mb-9 text-center text-lg-start">
            <p class="text-primary-600 fs-7 fs-lg-6 ls-1 fw-bold mb-lg-6 mb-3">Sweet in box</p>
            <picture>
                <source srcset="/assets/images/Home_Page/title_mobile.svg" media="(max-width: 960px)">
                <img src="/assets/images/Home_Page/title_desktop.svg" alt="title_desktop">
            </picture>
        </div>
        <div class="row card-custom">
            <div class="col-lg-3 col-12 p-lg-6 p-4 text-center text-lg-start">
                <img class="mb-lg-3 mb-2" src="/assets/images/Home_Page/unboxing.svg" alt="unboxing" width="120" height="120">
                <h3 class="fs-lg-4 fs-6 ls-1 fw-bold text-neutral-800 mb-lg-3 mb-2">每月驚喜主題盒</h3>
                <p class="fs-lg-6 fs-7 text-neutral-800">每月依不同主題搭配 6 到 10 款不重複的甜點驚喜，讓你不再煩惱選擇。</p>
            </div>
            <div class="col-lg-3 col-12 p-lg-6 p-4 text-center text-lg-start">
                <img class="mb-lg-3 mb-2" src="/assets/images/Home_Page/book.svg" alt="book" width="120" height="120">
                <h3 class="fs-lg-4 fs-6 ls-1 fw-bold text-neutral-800 mb-lg-3 mb-2">詳細介紹與保存指南</h3>
                <p class="fs-lg-6 fs-7 text-neutral-800">每盒甜點附上詳細介紹與保存指南，讓你放心品嚐，輕鬆享受。</p>
            </div>
            <div class="col-lg-3 col-12 p-lg-6 p-4 text-center text-lg-start">
                <img class="mb-lg-3 mb-2" src="/assets/images/Home_Page/rating.svg" alt="rating" width="120" height="120">
                <h3 class="fs-lg-4 fs-6 ls-1 fw-bold text-neutral-800 mb-lg-3 mb-2">主流與小眾品牌混搭</h3>
                <p class="fs-lg-6 fs-7 text-neutral-800">結合大品牌經典與小眾人氣店，帶來多樣化的口感體驗。</p>
            </div>
            <div class="col-lg-3 col-12 p-lg-6 p-4 text-center text-lg-start">
                <img class="mb-lg-3 mb-2" src="/assets/images/Home_Page/nuts.svg" alt="nuts" width="120" height="120">
                <h3 class="fs-lg-4 fs-6 ls-1 fw-bold text-neutral-800 mb-lg-3 mb-2">限量新品與在地特色</h3>
                <p class="fs-lg-6 fs-7 text-neutral-800">第一時間嚐到市場熱點新品與地方特色，讓你永遠走在甜點潮流前端。</p>
            </div>
        </div>
    </div>
</section>