<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>
<!-- 好評分享 -->
<section class="bg-neutral-200 position-relative">
  <div class="container py-lg-11 py-10">
    <div class="mb-9 mb-lg-10 text-center position-relative z-1">
      <p
        class="en-font fs-7 fs-lg-5 ls-1 fw-bold mb-lg-6 mb-3 text-primary-600"
      >
        Sweet words
      </p>
      <picture>
        <source
          media="(min-width: 576px)"
          srcset="/assets/images/Home_Page/title_section06.svg"
        />
        <img
          class="feedback-img"
          src="/assets/images/Home_Page/title_section06_mobile.png"
          alt="feedback"
        />
      </picture>
    </div>
    <div class="swiper feedback-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide h-100" style="width: 300px">
          <div class="card bg border-light bg-neutral-200 feedback-card w-100 h-100">
            <img
              src="/assets/images/Home_Page/review_pic (2).png"
              class="card-img-top w-100"
              alt="..."
            />
            <div class="card-body d-flex flex-column justify-content-between">
              <div class="content">
                <p class="star-number ls-1 text-neutral-800">
                  4.5<i class="bi bi-star-fill ms-2 text-semantic-rating"></i>
                </p>
                <p class="card-text">
                  每次打開甜點盒都有拆禮物的感覺！我是那種選擇困難又愛吃甜點的人，有時候光選哪家蛋糕就滑一小時，現在每月都有驚喜幫我決定，超省心又療癒！
                </p>
              </div>
              <div class="author d-flex align-items-center justify-content-end">
                <p class="me-2">無聊小日子</p>
                <img
                  src="/assets/images/Home_Page/Avatar-1.png"
                  alt="author-img"
                  class=""
                />
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide h-100" style="width: 300px">
          <div
            class="card bg border-light bg-neutral-200 feedback-card w-100 h-100"
          >
            <img
              src="/assets/images/Home_Page/review_pic (1).png"
              class="card-img-top w-100"
              alt="..."
            />
            <div class="card-body d-flex flex-column justify-content-between">
              <div class="content">
                <p class="star-number ls-1 text-neutral-800">
                  4.0<i class="bi bi-star-fill ms-2 text-semantic-rating"></i>
                </p>
                <p class="card-text">
                  超愛這種不寂寞的嚐鮮方式！上次吃到一家我從沒聽過的小店，竟然好吃到立刻加關注，下次想訂整顆主題回購。比起自己亂買，一盒甜起值又省時～
                </p>
              </div>
              <div class="author d-flex align-items-center justify-content-end">
                <p class="me-2">焦糖人生好焦躁</p>
                <img
                  src="/assets/images/Home_Page/Avatar-2.png"
                  alt="author-img"
                  class=""
                />
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide h-100" style="width: 300px">
          <div
            class="card bg border-light bg-neutral-200 feedback-card w-100 h-100"
          >
            <img
              src="/assets/images/Home_Page/review_pic (6).png"
              class="card-img-top w-100"
              alt="..."
            />
            <div class="card-body d-flex flex-column justify-content-between">
              <div class="content">
                <p class="star-number ls-1 text-neutral-800">
                  4.2<i class="bi bi-star-fill ms-2 text-semantic-rating"></i>
                </p>
                <p class="card-text">
                  整個包裝跟口味都超級可愛，完全是我的風格。還特別拍照傳給我閨蜜，結果她現在也訂了🤣
                </p>
              </div>
              <div class="author d-flex align-items-center justify-content-end">
                <p class="me-2">一點點可愛就好</p>
                <img
                  src="/assets/images/Home_Page/Avatar-3.png"
                  alt="author-img"
                  class=""
                />
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide h-100" style="width: 300px">
          <div
            class="card bg border-light bg-neutral-200 feedback-card w-100 h-100"
          >
            <img
              src="/assets/images/Home_Page/review_pic (5).png"
              class="card-img-top w-100"
              alt="..."
            />
            <div class="card-body d-flex flex-column justify-content-between">
              <div class="content">
                <p class="star-number d-flex flex-nowrap ls-1 text-neutral-800">
                  4.5
                  <div style="width: 24px; height: 24px;">
                    <img
                      src="/assets/images/Home_Page/Vector.png"
                      alt="star"
                    />
                  </div>
                  <!-- <i class="bi bi-star-fill ms-2 text-semantic-rating"></i> -->
                </p>
                <p class="card-text">
                  我太喜歡一盒甜的季節主題了，讓我很期待每次季節的交替。
                </p>
              </div>
              <div class="author d-flex align-items-center justify-content-end">
                <p class="me-2">Linda K.</p>
                <img
                  src="/assets/images/Home_Page/Avatar-4.png"
                  alt="author-img"
                  class=""
                />
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide h-100" style="width: 300px">
          <div
            class="card bg border-light bg-neutral-200 feedback-card w-100 h-100"
          >
            <img
              src="/assets/images/Home_Page/review_pic (4).png"
              class="card-img-top w-100"
              alt="..."
            />
            <div class="card-body d-flex flex-column justify-content-between">
              <div class="content">
                <p class="star-number ls-1 text-neutral-800">
                  5.0<i class="bi bi-star-fill ms-2 text-semantic-rating"></i>
                </p>
                <p class="card-text">
                  本來只是想試試，結果連我媽都搶著問🤤甜點不只好吃，還有詳細的介紹跟保存小卡，看得出來很用心。整體包裝跟體驗感都超棒，續訂沒懸念！
                </p>
              </div>
              <div class="author d-flex align-items-center justify-content-end">
                <p class="me-2">啾啾在躺平</p>
                <img
                  src="/assets/images/Home_Page/Avatar-5.png"
                  alt="author-img"
                  class=""
                />
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide h-100" style="width: 300px">
          <div
            class="card bg border-light bg-neutral-200 feedback-card w-100 h-100"
          >
            <img
              src="/assets/images/Home_Page/review_pic (3).png"
              class="card-img-top w-100"
              alt="..."
            />
            <div class="card-body d-flex flex-column justify-content-between">
              <div class="content">
                <p class="star-number ls-1 text-neutral-800">
                  4.0<i class="bi bi-star-fill ms-2 text-semantic-rating"></i>
                </p>
                <p class="card-text">
                  一盒甜讓我太開心了！開箱的過程很刺激，裡面的甜點也總是能療癒我身心，驚喜又好吃。太喜歡了！
                </p>
              </div>
              <div class="author d-flex align-items-center justify-content-end">
                <p class="me-2">南港裴勇俊</p>
                <img
                  src="/assets/images/Home_Page/Avatar-6.png"
                  alt="author-img"
                  class=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- 合作夥伴 -->
<section class="bg-neutral-200 position-relative">
  <div class="container py-lg-11 py-10">
    <!-- 上半部-partners合作夥伴字樣&圖 -->
    <div class="mb-9 mb-lg-10 text-center position-relative z-1">
      <p class="en-font fs-7 fs-lg-5 ls-1 fw-bold mb-lg-6 mb-3 text-primary-600">
        Partners
      </p>
      <picture>
        <source
          media="(max-width: 576px)"
          srcset="/assets/images/Home_Page/title_section07_mobile.png"
        />
        <img
          class="brands-img"
          src="/assets/images/Home_Page/title_section07.svg"
          alt="partners"
        />
      </picture>
    </div>
    <!-- 下半部-品牌 swiper -->
    <!-- desktop -->
    <div class="d-none d-lg-block">
      <div class="swiper brands-swiper mb-5">
        <div class="swiper-wrapper align-items-center">
          <div class="swiper-slide">
            <img
              src="/assets/images/Home_Page/brand/brand-1.png"
              alt=""
              class="align-bottom"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="/assets/images/Home_Page/brand/brand-2.png"
              alt=""
              class="align-bottom"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="/assets/images/Home_Page/brand/brand-3.png"
              alt=""
              class="align-bottom"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="/assets/images/Home_Page/brand/brand-4.png"
              alt=""
              class="align-bottom"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="/assets/images/Home_Page/brand/brand-5.png"
              alt=""
              class="align-bottom"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="/assets/images/Home_Page/brand/brand-6.png"
              alt=""
              class="align-bottom"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="/assets/images/Home_Page/brand/brand-7.png"
              alt=""
              class="align-bottom"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="/assets/images/Home_Page/brand/brand-8.png"
              alt=""
              class="align-bottom"
            />
          </div>
        </div>
      </div>
      <div class="swiper brands-swiper" dir="rtl">
        <div class="swiper-wrapper align-items-center">
          <div class="swiper-slide">
            <img
              src="/assets/images/Home_Page/brand/brand-9.png"
              alt=""
              class="align-bottom"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="/assets/images/Home_Page/brand/brand-10.png"
              alt=""
              class="align-bottom"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="/assets/images/Home_Page/brand/brand-11.png"
              alt=""
              class="align-bottom"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="/assets/images/Home_Page/brand/brand-12.png"
              alt=""
              class="align-bottom"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="/assets/images/Home_Page/brand/brand-13.png"
              alt=""
              class="align-bottom"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="/assets/images/Home_Page/brand/brand-14.png"
              alt=""
              class="align-bottom"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="/assets/images/Home_Page/brand/brand-15.png"
              alt=""
              class="align-bottom"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="/assets/images/Home_Page/brand/brand-16.png"
              alt=""
              class="align-bottom"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- mobile -->
    <div class="d-block d-lg-none">
      <!-- mobile-1 -->
      <div class="swiper brands-swiper">
        <div class="swiper-wrapper align-center">
          <div class="swiper-slide">
            <img
              src="/assets/images/Home_Page/brand-mobile/01.png"
              alt=""
              class="align-bottom"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="/assets/images/Home_Page/brand-mobile/02.png"
              alt=""
              class="align-bottom"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="/assets/images/Home_Page/brand-mobile/16.png"
              alt=""
              class="align-bottom"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="/assets/images/Home_Page/brand-mobile/15.png"
              alt=""
              class="align-bottom"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="/assets/images/Home_Page/brand-mobile/03.png"
              alt=""
              class="align-bottom"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="/assets/images/Home_Page/brand-mobile/04.png"
              alt=""
              class="align-bottom"
            />
          </div>
        </div>
      </div>
      <!-- mobile-2 -->
      <div class="swiper brands-swiper" dir="rtl">
        <div class="swiper-wrapper align-center">
          <div class="swiper-slide">
            <img
              src="/assets/images/Home_Page/brand-mobile/05.png"
              alt=""
              class="align-bottom"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="/assets/images/Home_Page/brand-mobile/11.png"
              alt=""
              class="align-bottom"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="/assets/images/Home_Page/brand-mobile/12.png"
              alt=""
              class="align-bottom"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="/assets/images/Home_Page/brand-mobile/06.png"
              alt=""
              class="align-bottom"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="/assets/images/Home_Page/brand-mobile/13.png"
              alt=""
              class="align-bottom"
            />
          </div>
        </div>
      </div>
      <!-- mobile-3 -->
      <div class="swiper brands-swiper">
        <div class="swiper-wrapper align-center">
          <div class="swiper-slide">
            <img
              src="/assets/images/Home_Page/brand-mobile/09.png"
              alt=""
              class="align-bottom"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="/assets/images/Home_Page/brand-mobile/10.png"
              alt=""
              class="align-bottom"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="/assets/images/Home_Page/brand-mobile/14.png"
              alt=""
              class="align-bottom"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="/assets/images/Home_Page/brand-mobile/07.png"
              alt=""
              class="align-bottom"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="/assets/images/Home_Page/brand-mobile/08.png"
              alt=""
              class="align-bottom"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
