<section class="hero-banner bg-neutral-200">
  <div class="container px-4 px-sm-0">
    <img class="mb-5 mb-sm-9" src="/assets/images/Home_Page/title_hero.svg" alt="一盒甜slogan">
    <div class="mb-10 mb-sm-9">
      <h1 class="mb-1 mb-sm-2 slogan-title">告別選擇困難，甜點人生更輕鬆</h1>
      <p class="slogan-subtitle"><span class="text-primary-600">一盒甜</span> 幫你安排一場好吃又不膩的甜點旅程</p>
    </div>
    <button class="btn-primary-icon-lg text-neutral-100">
      立刻訂閱
      <svg
        class="ms-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path fill="currentColor" d="M15 7.586L22.414 15H2v-2h15.586l-4-4z" />
      </svg>
    </button>
  </div>
</section>