<section class="position-relative overflow-hidden">
    <img class="position-absolute cakeroll-img z-0" src="/assets/images/Home_Page/bg_cakeroll.svg" alt="bg_cakeroll"
        height="612" width="880">
    <div class="container py-lg-11 py-10">
        <div class="mb-lg-10 mb-9 text-center position-relative z-1">
            <p class="text-primary-600 fs-7 fs-lg-5 ls-1 fw-bold mb-lg-6 mb-3">How to subscribe</p>
            <img class="subscribe-img" src="/assets/images/Home_Page/title_section4.svg" alt="steps" height="56"
                width="208">
        </div>
        <div class="row card-custom mb-13 position-relative z-1">
            <div class="col-lg-4 col-12 p-lg-6 p-4 text-center ">
                <img class="mb-lg-6 mb-2" src="/assets/images/Home_Page/select.svg" alt="select" width="120"
                    height="120">
                <h3 class="fs-lg-4 fs-6 ls-1 fw-bold text-neutral-800 mb-lg-3 mb-2">1. 挑選你的主題</h3>
                <p class="fs-lg-6 fs-7 text-neutral-800">無論你想和家人分享、或獨自探索甜味風景, 我們都有適合你的那一盒甜。</p>
            </div>
            <div class="col-lg-4 col-12 p-lg-6 p-4 text-center">
                <img class="mb-lg-6 mb-2" src="/assets/images/Home_Page/subscribe.svg" alt="subscribe" width="120"
                    height="120">
                <h3 class="fs-lg-4 fs-6 ls-1 fw-bold text-neutral-800 mb-lg-3 mb-2">2. 訂閱並等待驚喜</h3>
                <p class="fs-lg-6 fs-7 text-neutral-800">選擇訂閱方式, 每月都有盒甜點準時送達, 像專屬你的節日驚喜。</p>
            </div>
            <div class="col-lg-4 col-12 p-lg-6 p-4 text-center">
                <img class="mb-lg-6 mb-2" src="/assets/images/Home_Page/enjoy.svg" alt="enjoy" width="120" height="120">
                <h3 class="fs-lg-4 fs-6 ls-1 fw-bold text-neutral-800 mb-lg-3 mb-2">3. 享受一盒甜</h3>
                <p class="fs-lg-6 fs-7 text-neutral-800">嚴選甜點搭配保存小秘訣, 美味與安心兼具。讓生活多一點甜。</p>
            </div>
        </div>
        <div class="d-lg-flex d-none justify-content-center">
            <button type="button" class="btn-primary-icon-lg text-white ls-1 lh-sm fs-6 fw-bold d-flex align-items-center">立刻訂閱
                <svg
                    class="ms-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M15 7.586L22.414 15H2v-2h15.586l-4-4z" />
                </svg></button>
        </div>
    </div>
</section>