<!-- theme-opts swiper-->
<section class="position-relative">
  <div class="container py-md-11 py-10">
    <!--desktop: Slider main container -->
    <div class="swiper-themeOpts-area d-lg-block d-none position-relative">
      <div class="swiper swiper-themeOpts">
        <!-- Additional required wrapper -->
        <ul class="swiper-wrapper">
          <!-- Slides -->
          <!-- 精選甜點 -->
          <li class="swiper-slide position-relative">
            <div class="d-flex">
              <div class="row">
                <div class="col-7">
                  <img src="/assets/images/Home_Page/pic_feature.png" alt="精選甜點" class="me-6 w-100" height="auto">
                </div>
                <div class="col-5 py-10 px-9 d-flex flex-column justify-content-between align-items-start">
                  <div class="text">
                    <p class="en-font text-primary-600 ls-1 fw-bold fs-7 mb-6">Featured</p>
                    <h3 class="mb-9"><img src="/assets/images/Home_Page/feature.svg" alt="精選甜點標題">
                    </h3>
                    <h4 class="fs-6 fw-bold ls-1 mb-2">我們幫你挑<span class="text-primary">最值得期待</span>的那一盒</h4>
                    <p class="fs-6 fs-5">不論是人氣爆款還是話題聯名, 通通不錯過。喜歡嚐鮮的你一定會愛上。</p>
                  </div>
                  <a href="theme_detail.html"
                    class="btn-primary-icon ls-1 lh-sm fs-6 fw-bold d-flex align-items-center">了解更多
                    <svg class="ms-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                      <path fill="currentColor" d="M15 7.586L22.414 15H2v-2h15.586l-4-4z" />
                    </svg>
                  </a>
                </div>
              </div>

            </div>
          </li>
          <!-- 季節限定 -->
          <li class="swiper-slide position-relative">
            <div class="d-flex">
              <div class="row">
                <div class="col-7">
                  <img src="/assets/images/Home_Page/pic_season.png" alt="季節限定" class="me-6 w-100" height="auto">
                </div>
                <div class="col-5 py-10 px-9 d-flex flex-column justify-content-between align-items-start">
                  <div class="text">
                    <p class="en-font text-primary-600 ls-1 fw-bold fs-7 mb-6">Limited</p>
                    <h3 class="mb-9"><img src="/assets/images/Home_Page/season.svg" alt="季節限定標題">
                    </h3>
                    <h4 class="fs-6 fw-bold ls-1 mb-2">春夏秋冬, 不同的甜點<span class="text-primary">陪你過日子</span>
                    </h4>
                    <p class="fs-6 fs-5">當月份限定的口味與質地, 只在這時登場。錯過了, 就要再等一年。</p>
                  </div>
                  <a href="theme_detail.html"
                    class="btn-primary-icon ls-1 lh-sm fs-6 fw-bold d-flex align-items-center">了解更多
                    <svg class="ms-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                      <path fill="currentColor" d="M15 7.586L22.414 15H2v-2h15.586l-4-4z" />
                    </svg>
                  </a>
                </div>
              </div>

            </div>
          </li>
          <!-- 在地甜點 -->
          <li class="swiper-slide position-relative">
            <div class="d-flex">
              <div class="row">
                <div class="col-7">
                  <img src="/assets/images/Home_Page/pic_local.png" alt="在地甜點" class="me-6 w-100" height="auto">
                </div>
                <div class="col-5 py-10 px-9 d-flex flex-column justify-content-between align-items-start">
                  <div class="text">
                    <p class="en-font text-primary-600 ls-1 fw-bold fs-7 mb-6">Farm to table</p>
                    <h3 class="mb-9"><img src="/assets/images/Home_Page/local.svg" alt="在地甜點標題">
                    </h3>
                    <h4 class="fs-6 fw-bold ls-1 mb-2">重新品味土地的美味，<span class="text-primary">熟悉中遇見驚喜</span>
                    </h4>
                    <p class="fs-6 fs-5">精選以台灣食材與職人手藝製作的特色甜點, 簡單卻令人回味無窮。</p>
                  </div>
                  <a href="theme_detail.html"
                    class="btn-primary-icon ls-1 lh-sm fs-6 fw-bold d-flex align-items-center">了解更多
                    <svg class="ms-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                      <path fill="currentColor" d="M15 7.586L22.414 15H2v-2h15.586l-4-4z" />
                    </svg>
                  </a>
                </div>
              </div>

            </div>
          </li>
        </ul>
      </div>
      <div class="swiper-button-prev text-neutral-700">
        <div class="p-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path fill="currentColor"
              d="M2.64 11.917h16.591a.78.78 0 0 1 .769.792a.78.78 0 0 1-.769.791H.771c-.688 0-1.03-.857-.541-1.354L5.549 6.73a.754.754 0 0 1 1.087.006a.81.81 0 0 1-.005 1.119z" />
          </svg>
        </div>
      </div>
      <div class="swiper-button-next text-neutral-700">
        <div class="p-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path fill="currentColor" d="M15 7.586L22.414 15H2v-2h15.586l-4-4z" />
          </svg>
        </div>
      </div>
    </div>

    <!-- mobile:card -->
    <div class="card-themeOpts d-lg-none">
      <!-- 精選甜點card -->
      <div class="card text-center bg-transparent border-0 py-4 mb-9">
        <div class="card-body">
          <p class="en-font card-subtitle text-primary mb-3 ls-1 fs-7 fw-bold">Featured</p>
          <h3 class="card-title"><img src="/assets/images/Home_Page/feature.svg" alt="精選甜點標題"></h3>
          <img class="w-100 h-auto my-6" src="/assets/images/Home_Page/pic_feature.png" alt="主題圖片-精選甜點">
          <h4 class="fs-6 fw-bold ls-1">我們幫你挑<span class="text-primary">最值得期待</span>的那一盒</h4>
          <p class="card-text mb-6">不論是人氣爆款還是話題聯名, 通通不錯過。喜歡嚐鮮的你一定會愛上。</p>
          <a href="theme_detail.html"
            class="d-inline-flex d-lg-flex btn-primary-icon ls-1 lh-sm fs-6 fw-bold d-flex align-items-center mx-auto">了解更多
            <svg class="ms-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path fill="currentColor" d="M15 7.586L22.414 15H2v-2h15.586l-4-4z" />
            </svg>
          </a>
        </div>
      </div>
      <!-- 季節限定card -->
      <div class="card text-center bg-transparent border-0 py-4 mb-9 ">
        <div class="card-body">
          <p class="en-font card-subtitle text-primary mb-3 ls-1 fs-7 fw-bold">Limited</p>
          <h3 class="card-title"><img src="/assets/images/Home_Page/season.svg" alt="季節限定標題"></h3>
          <img class="w-100 h-auto my-6" src="/assets/images/Home_Page/pic_season.png" alt="主題圖片-季節限定">
          <h4 class="fs-6 fw-bold ls-1">春夏秋冬, 不同的甜點<span class="text-primary">最值得期待</span></h4>
          <p class="card-text mb-6">當月份限定的口味與質地, 只在這時登場。錯過了, 就要再等一年。</p>
          <a href="theme_detail.html"
            class="d-inline-flex d-lg-flex btn-primary-icon ls-1 lh-sm fs-6 fw-bold d-flex align-items-center mx-auto">了解更多
            <svg class="ms-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path fill="currentColor" d="M15 7.586L22.414 15H2v-2h15.586l-4-4z" />
            </svg>
          </a>
        </div>
      </div>
      <!-- 在地甜點card -->
      <div class="card text-center bg-transparent border-0 py-4">
        <div class="card-body">
          <p class="en-font card-subtitle text-primary mb-3 ls-1 fs-7 fw-bold">Farm to table</p>
          <h3 class="card-title"><img src="/assets/images/Home_Page/local.svg" alt="在地甜點標題"></h3>
          <img class="w-100 h-auto my-6" src="../assets/images/Home_Page/pic_local.png" alt="主題圖片-在地甜點">
          <h4 class="fs-6 fw-bold ls-1">重新品味土地的美味，<span class="text-primary">熟悉中遇見驚喜</span></h4>
          <p class="card-text mb-6">精選以台灣食材與職人手藝製作的特色甜點, 簡單卻令人回味無窮。</p>
          <a href="theme_detail.html"
            class="d-inline-flex d-lg-flex btn-primary-icon ls-1 lh-sm fs-6 fw-bold d-flex align-items-center mx-auto">了解更多
            <svg class="ms-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path fill="currentColor" d="M15 7.586L22.414 15H2v-2h15.586l-4-4z" />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
  <img class="position-absolute cake-img z-n1" height="244" width="272" src="/assets/images/Home_Page/bg_cake.svg"
    alt="bg_cake">
  <img class="position-absolute dessert-img z-n1  d-none d-lg-block" height="335" width="325"
    src="/assets/images/Home_Page/bg_dessert.svg" alt="bg_dessert">
</section>
