.btn-primary-icon {
    background-color: $CTA-200;
    border-radius: 100px;
    border: none;
    padding: 16px 32px;
    color: $neutral-100;

    svg {
        transition: transform 0.3s ease; // 平滑動畫
    }

    &:hover {
        background-color: $CTA-100;

        svg {
            transform: translateX(12px);
        }
    }

    &:active {
        background-color: $CTA-300;
    }

    &:focus {
        background-color: $CTA-300;
    }

    &:disabled {
        background-color: $neutral-300;
        color: $neutral-500;
    }

    // 960px 以下使用小尺寸
    @media (max-width: 960px) {
        padding: 12px 28px;
    }
}

.btn-primary-text {
    background-color: $CTA-200;
    border-radius: 100px;
    border: none;
    padding: 16px 32px;
    color: $neutral-100;

    &:hover {
        background-color: $CTA-100;
    }

    &:active {
        background-color: $CTA-300;
    }

    &:focus {
        background-color: $CTA-300;
    }

    &:disabled {
        background-color: $neutral-300;
        color: $neutral-500
    }

    // 960px 以下使用小尺寸
    @media (max-width: 960px) {
        padding: 12px 28px;
    }

}

.btn-secondary {
    background-color: $neutral-200;
    border-radius: 100px;
    border: 1.5px;
    border-color: $neutral-400;
    padding: 12px 32px;
    color: $neutral-800;

    &:hover {
        background-color: $neutral-300;
        color: $neutral-900;
    }

    &:active {
        background-color: $neutral-400;
        color: $neutral-900;
    }

    &:focus {
        background-color: $neutral-400;
        color: $neutral-900;
    }

    &:disabled {
        background-color: transparent;
        color: $neutral-500
    }

    // 960px 以下使用小尺寸
    @media (max-width: 960px) {
        padding: 12px 24px;
    }
}

.btn-text {
    background-color: transparent;
    color: $neutral-800;
    padding: 12px 32px;
    border: 0;

    &:hover {
        color: $neutral-900
    }

    &:active {
        color: $primary-600;
    }

    &:focus {
        color: $primary-600;
    }

    &:disabled {
        color: $neutral-500
    }
<<<<<<< HEAD

=======
    &.active {
        color: $primary-600;
    }
>>>>>>> fc362e44c7dc19f2b3b1aa01eff9c2040f30d08f
    @media (max-width: 960px) {
        padding: 12px 16px;
    }

    @media (max-width: 768px) {
        padding: 12px 12px;
    }
}

<<<<<<< HEAD
.btn-icon-leading {
=======
.btn-text-sm{
    background-color: transparent;
    color: $neutral-800;
    padding: 12px 12px;
    border: 0;
    &:hover {
        color: $neutral-900
    }
    &:active {
        color: $primary-600;
    }
    &:focus {
        color: $primary-600;
    }
    &:disabled  {
        color: $neutral-500
    }
    &.active {
        color: $primary-600;
    }
}

.btn-icon-leading{
>>>>>>> fc362e44c7dc19f2b3b1aa01eff9c2040f30d08f
    background-color: transparent;
    color: $neutral-800;
    padding: 12px 12px;
    border: 0;

    &:hover {
        color: $neutral-900
    }

    &:active {
        color: $primary-600;
    }

    &:focus {
        color: $primary-600;
    }

    &:disabled {
        color: $neutral-500
    }
}

.btn-icon-tailing {
    background-color: transparent;
    color: $semantic-link;
    padding: 12px 12px;
    border: 0;

    &:disabled {
        color: $neutral-500
    }
}

.btn-icon {
    border: 1px;
    border-color: $neutral-400;
    border-radius: 100px;
    padding: 12px;
    background-color: $neutral-300;
    color: $neutral-800;

    &:hover {
        color: $primary-600;
    }

    &:active {
        background-color: $neutral-400;
        color: $primary-600;
    }

    &:focus {
        background-color: $neutral-400;
        color: $primary-600;
    }

    &:disabled {
        background-color: $neutral-300;
        color: $neutral-500
    }
}

