.dropdown-toggle {
  position: relative;
  &:hover {
    color: $primary-600;
  }
  &::after {
    display: none;
  }
  &-burger {
    &:active,
    &.selected {
      color: $primary-600;
    }
  }
  &-login {
    &:active,
    &.selected {
      &::before {
        content: '';
        position: absolute;
        bottom: 4px;
        width: 64px;
        height: 2px;
        border-radius: 100px;
        background-color: $neutral-800;
      }
    }
  }
}

.dropdown-menu {
  padding: 0;
  text-align: center;
  backdrop-filter: blur(16px);
  background-color: rgba($neutral-100, 0.4);
  border: 1px solid $neutral-100;
  border-radius: 20px;
  line-height: 27px;
  letter-spacing: 0.1rem;

  &-avatar {
    width: 192px;
    background-color: rgba($neutral-100, 0.4);
    
    &[data-bs-popper] {
      top: 72px;
      left: -40px;
    }

    .dropdown-item {
      padding: 12px 0;
    }
  }

  &-burger {    
    &[data-bs-popper] {
      top: 72px;
      left: 0;
      right: 0;
    }
    &.show {
      display: flex;
      flex-direction: column;
      height: 85vh;
    }
    .dropdown-item {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      &-wrapper {
        flex: 1;
        display: flex;
      }
    }
  }

  &[data-bs-popper] {
    margin-top: 0;
  }
  .dropdown-item {
    &:hover {
      background-color: transparent;
      color: $primary-600;
    }
    &.active {
      color: $primary-600;
    }
  }
  li:not(:last-child) {
    border-bottom: 1px solid $neutral-100;
  }
}