<!-- section2 甜點盒裡有甚麼 -->
<section class="bg-neutral-400 theme-feature position-relative">
  <div class="container-1076 py-17 py-lg-18">
    <div class="mb-15 mb-lg-14 text-center">
      <p
        class="en-font fw-bold ls-1 text-primary-600 fs-7 fs-lg-6 mb-3 mb-lg-6"
      >
        What’s in the box
      </p>
      <div class="mb-6 mb-lg-9">
        <picture>
          <source
            media="(max-width: 992px)"
            srcset="
              /assets/images/Theme_Detail/Feature/Title_section02_mobile.svg
            "
          />
          <img
            src="/assets/images/Theme_Detail/Feature/Title_section02.svg"
            alt="精選甜點盒裡有甚麼"
          />
        </picture>
      </div>
      <p class="text-neutral-800">
        每盒精選甜點含 8-14
        款話題甜點，精挑細選最新人氣與聯名熱品，甜點控嚐鮮首選！
      </p>
    </div>
    <div class="row gx-8">
      <!-- feature-1 -->
      <div class="col-12 col-lg-4 mb-6 mb-lg-0">
        <div class="detail-feature-card">
          <div class="detail-feature-card-padding">
            <img
              src="/assets/images/Theme_Detail/Feature/Icon_popular.svg"
              alt="熱門話題甜點"
              class="mb-3"
            />
            <p class="text-primary-600 fw-bold fs-5 mb-3">熱門話題甜點</p>
            <p class="text-neutral-800 fs-lg-8">
              壓扁可頌、脆皮泡芙、爆紅 8 字蛋捲等<br />近期甜點圈的明星商品
            </p>
          </div>
        </div>
      </div>
      <!-- feature-2 -->
      <div class="col-12 col-lg-4 mb-6 mb-lg-0">
        <div class="detail-feature-card">
          <div class="detail-feature-card-padding">
            <img
              src="/assets/images/Theme_Detail/Feature/Icon_brand.svg"
              alt="熱門話題甜點"
              class="mb-3"
            />
            <p class="text-primary-600 fw-bold fs-5 mb-3">品牌聯名限定</p>
            <p class="text-neutral-800 fs-lg-8">
              甜點品牌與飲品、文創等聯名合作款，期間限定風味搶先嚐
            </p>
          </div>
        </div>
      </div>
      <!-- feature-3 -->
      <div class="col-12 col-lg-4">
        <div class="detail-feature-card">
          <div class="detail-feature-card-padding">
            <img
              src="/assets/images/Theme_Detail/Feature/Icon_classic.svg"
              alt="熱門話題甜點"
              class="mb-3"
            />
            <p class="text-primary-600 fw-bold fs-5 mb-3">經典人氣烘焙</p>
            <p class="text-neutral-800 fs-lg-8">
              布朗尼、磅蛋糕、餅乾、蛋捲等口感豐富、常溫好保存的精緻選擇
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- section3 第一盒甜內容 -->
<section class="theme-content position-relative">
  <div class="container">
    <!-- 第一盒甜標題 -->
    <div class="text-center first-sweet-box-title">
      <p
        class="en-font fw-bold ls-1 text-primary-600 fs-7 fs-lg-6 mb-3 mb-lg-6"
      >
        The first sweet box
      </p>
      <div class="mb-6 mb-lg-9">
        <picture>
          <source
            media="(max-width: 992px)"
            srcset="
              /assets/images/Theme_Detail/Feature/Title_section03_mobile.svg
            "
          />
          <img
            src="/assets/images/Theme_Detail/Feature/Title_section03.svg"
            alt="你的第一盒甜"
          />
        </picture>
      </div>
      <p class="text-neutral-800">
        首次訂閱一盒甜即可獲得迎賓禮盒，內含精選、季節、在地三大主題的 9
        款人氣甜點，一次體驗多種甜點驚喜。<span class="d-none d-lg-inline"
          >點選甜點卡片，查看更多風味介紹與保存方式。</span
        >
      </p>
    </div>
    <!-- 第一盒甜內容卡片 -->
    <div class="row gy-6">
      <!-- 1 -->
      <div class="col-12 col-lg-4">
        <div class="first-sweet-box-content">
          <picture>
            <source
              media="(max-width: 992px)"
              srcset="/assets/images/Theme_Detail/Feature/pic_cookie_mobile.jpg"
              class="rounded-5"
            />
            <img
              src="/assets/images/Theme_Detail/Feature/pic_cookie_desktop.jpg"
              alt="餅乾"
              class="rounded-6 mb-4 mb-lg-0 w-100"
            />
          </picture>
          <div class="d-block d-lg-none">
            <div
              class="d-flex justify-content-between align-center mb-3 fw-bold"
            >
              <p class="fs-6">奶油夾心餅</p>
              <p>Butterly Cookies</p>
            </div>
            <p>
              鬆脆餅乾夾入濃郁奶油餡，層次豐富。酥香與滑順並存，入口充滿溫潤奶香。
            </p>
          </div>
          <!-- 黑色屏幕 -->
          <div class="overlay d-none d-lg-flex">
            <h3 class="fw-bold fs-2 mb-3">奶油夾心餅</h3>
            <p class="fw-bold fs-5 mb-9">Butterly Cookies</p>
            <p>
              鬆脆餅乾夾入濃郁奶油餡，層次豐富。<br />
              酥香與滑順並存，入口充滿溫潤奶香。
            </p>
          </div>
        </div>
      </div>
      <!-- 2 -->
      <div class="col-12 col-lg-4">
        <div class="first-sweet-box-content">
          <picture>
            <source
              media="(max-width: 992px)"
              srcset="
                /assets/images/Theme_Detail/Feature/pic_brownie_mobile.jpg
              "
              class="rounded-5"
            />
            <img
              src="/assets/images/Theme_Detail/Feature/pic_brownie_desktop.jpg"
              alt="餅乾"
              class="rounded-6 mb-4 mb-lg-0 w-100"
            />
          </picture>
          <div class="d-block d-lg-none">
            <div
              class="d-flex d-lg-none justify-content-between align-center mb-3 fw-bold"
            >
              <p class="fs-6">經典濃巧布朗尼</p>
              <p>Choco & Mood</p>
            </div>
            <p>
              嚴選比利時 70%
              黑巧克力與法國奶油，加入核桃與海鹽，甜中帶苦，層次迷人。
            </p>
          </div>
          <!-- 黑色屏幕 -->
          <div class="overlay d-none d-lg-flex">
            <h3 class="fw-bold fs-2 mb-3">經典濃巧布朗尼</h3>
            <p class="fw-bold fs-5 mb-9">Choco & Mood</p>
            <p>
              嚴選比利時 70%
              黑巧克力與法國奶油，加入核桃與海鹽，甜中帶苦，層次迷人。
            </p>
          </div>
        </div>
      </div>
      <!-- 3 -->
      <div class="col-12 col-lg-4">
        <div class="first-sweet-box-content">
          <picture>
            <source
              media="(max-width: 992px)"
              srcset="
                /assets/images/Theme_Detail/Feature/pic_pretzels_mobile.jpg
              "
              class="rounded-5"
            />
            <img
              src="/assets/images/Theme_Detail/Feature/pic_pretzels_desktop.jpg"
              alt="餅乾"
              class="rounded-6 mb-4 mb-lg-0 w-100"
            />
          </picture>
          <div class="d-block d-lg-none">
            <div
              class="d-flex d-lg-none justify-content-between align-center mb-3 fw-bold"
            >
              <p class="fs-6">經典椒鹽餅乾</p>
              <p>Salt&Crust Bakery</p>
            </div>
            <p>
              外層撒上細緻椒鹽，酥脆中帶有鹹香，簡單卻耐吃，讓人一口接一口的經典小食。
            </p>
          </div>
          <!-- 黑色屏幕 -->
          <div class="overlay d-none d-lg-flex">
            <h3 class="fw-bold fs-2 mb-3">經典椒鹽餅乾</h3>
            <p class="fw-bold fs-5 mb-9">Salt & Crust Bakery</p>
            <p>
              外層撒上細緻椒鹽，酥脆中帶有鹹香，簡單卻耐吃，讓人一口接一口的經典小食。
            </p>
          </div>
        </div>
      </div>
      <!-- 4 -->
      <div class="col-12 col-lg-4 position-relative">
        <div class="first-sweet-box-content card-mask">
          <picture>
            <source
              media="(max-width: 992px)"
              srcset="/assets/images/Theme_Detail/Feature/pic_candy_mobile.jpg"
              class="rounded-5"
            />
            <img
              src="/assets/images/Theme_Detail/Feature/pic_candy_desktop.jpg"
              alt="餅乾"
              class="rounded-6 mb-4 mb-lg-0 w-100"
            />
          </picture>
          <div class="d-block d-lg-none">
            <div
              class="d-flex d-lg-none justify-content-between align-center mb-3 fw-bold"
            >
              <p class="fs-6">開心果牛軋糖</p>
              <p>Pistachio Lane</p>
            </div>
            <div class="collapse d-lg-block" id="moreCards">
              <p>
                以綿軟牛軋糖揉入滿滿開心果仁。堅果香脆與甜蜜嚼感，讓人愈嚼愈香。
              </p>
            </div>
          </div>
          <!-- 黑色屏幕 -->
          <div class="overlay d-none d-lg-flex">
            <h3 class="fw-bold fs-2 mb-3">開心果牛軋糖</h3>
            <p class="fw-bold fs-5 mb-9">Pistachio Lane</p>
            <p>
              以綿軟牛軋糖揉入滿滿開心果仁。 堅果香脆與甜蜜嚼感，讓人愈嚼愈香。
            </p>
          </div>
        </div>
      </div>
      <!-- 5 -->
      <!-- 桌面版 -->
      <div class="col-12 col-lg-4 d-none d-lg-block">
        <div class="first-sweet-box-content">
          <img
            src="/assets/images/Theme_Detail/Feature/pic_snowball_desktop.jpg"
            alt="餅乾"
            class="rounded-6 mb-4 mb-lg-0 w-100"
          />
          <!-- 黑色屏幕 -->
          <div class="overlay">
            <h3 class="fw-bold fs-2 mb-3">草莓雪球</h3>
            <p class="fw-bold fs-5 mb-9">Snowberry Patisserie</p>
            <p>
              滿佈糖粉的雪球外型，入口酥鬆輕盈。 帶有淡雅草莓香氣，甜美而不膩。
            </p>
          </div>
        </div>
      </div>
      <!-- 手機版 -->
      <div class="col-12 collapse d-lg-none" id="moreCards">
        <img
          src="/assets/images/Theme_Detail/Feature/pic_snowball_mobile.jpg"
          alt="餅乾"
          class="rounded-6 mb-4 mb-lg-0 w-100"
        />
        <div>
          <div
            class="d-flex d-lg-none justify-content-between align-center mb-3 fw-bold"
          >
            <p class="fs-6">草莓雪球</p>
            <p>Snowberry Patisserie</p>
          </div>
          <p>
            滿佈糖粉的雪球外型，入口酥鬆輕盈。帶有淡雅草莓香氣，甜美而不膩。
          </p>
        </div>
      </div>
      <!-- 6 -->
      <!-- 桌面版 -->
      <div class="col-12 col-lg-4 d-none d-lg-block">
        <div class="first-sweet-box-content">
          <img
            src="/assets/images/Theme_Detail/Feature/pic_cake_desktop.jpg"
            alt="餅乾"
            class="rounded-6 mb-4 mb-lg-0 w-100"
          />
          <!-- 黑色屏幕 -->
          <div class="overlay">
            <h3 class="fw-bold fs-2 mb-3">醇厚奶香磅蛋糕</h3>
            <p class="fw-bold fs-5 mb-9">Heritage Pound Cake Co.</p>
            <p>傳統比例製作，口感綿密紮實。濃厚奶油香氣，經典耐吃不退流行。</p>
          </div>
        </div>
      </div>
      <!-- 手機版 -->
      <div class="col-12 collapse d-lg-none" id="moreCards">
        <img
          src="/assets/images/Theme_Detail/Feature/pic_cake_mobile.jpg"
          alt="餅乾"
          class="rounded-6 mb-4 mb-lg-0 w-100"
        />
        <div>
          <div
            class="d-flex d-lg-none justify-content-between align-center mb-3 fw-bold"
          >
            <p class="fs-6">醇厚奶香磅蛋糕</p>
            <p>Heritage Pound Cake Co.</p>
          </div>
          <p>傳統比例製作，口感綿密紮實。濃厚奶油香氣，經典耐吃不退流行。</p>
        </div>
      </div>
      <!-- 7 -->
      <!-- 桌面版 -->
      <div class="col-12 col-lg-4 d-none d-lg-block">
        <div class="first-sweet-box-content">
          <img
            src="/assets/images/Theme_Detail/Feature/pic_eggroll_desktop.jpg"
            alt="餅乾"
            class="rounded-6 mb-4 mb-lg-0 w-100"
          />
          <!-- 黑色屏幕 -->
          <div class="overlay">
            <h3 class="fw-bold fs-2 mb-3">經典手工蛋捲</h3>
            <p class="fw-bold fs-5 mb-9">Choco & Mood</p>
            <p>
              手工蛋捲，層層酥香，每一口都保留傳統蛋香，清雅迷人，簡單卻令人回味無窮。
            </p>
          </div>
        </div>
      </div>
      <!-- 手機版 -->
      <div class="col-12 collapse d-lg-none" id="moreCards">
        <img
          src="/assets/images/Theme_Detail/Feature/pic_eggroll_mobile.jpg"
          alt="餅乾"
          class="rounded-6 mb-4 mb-lg-0 w-100"
        />
        <div>
          <div
            class="d-flex d-lg-none justify-content-between align-center mb-3 fw-bold"
          >
            <p class="fs-6">經典手工蛋捲</p>
            <p>Choco & Mood</p>
          </div>
          <p>
            手工蛋捲，層層酥香，每一口都保留傳統蛋香，清雅迷人，簡單卻令人回味無窮。
          </p>
        </div>
      </div>
      <!-- 8 -->
      <!-- 桌面版 -->
      <div class="col-12 col-lg-4 d-none d-lg-block">
        <div class="first-sweet-box-content">
          <img
            src="/assets/images/Theme_Detail/Feature/pic_tart_desktop.jpg"
            alt="餅乾"
            class="rounded-6 mb-4 mb-lg-0 w-100"
          />
          <!-- 黑色屏幕 -->
          <div class="overlay">
            <h3 class="fw-bold fs-2 mb-3">焦糖綜合堅果塔</h3>
            <p class="fw-bold fs-5 mb-9">Caramel & Nut Atelier</p>
            <p>
              以焦糖拌炒多種堅果，填入香酥塔皮。層層堆疊的堅果香氣，口感豐富紮實。
            </p>
          </div>
        </div>
      </div>
      <!-- 手機版 -->
      <div class="col-12 collapse d-lg-none" id="moreCards">
        <img
          src="/assets/images/Theme_Detail/Feature/pic_tart_mobile.jpg"
          alt="麻糬"
          class="rounded-6 mb-4 mb-lg-0 w-100"
        />
        <div>
          <div
            class="d-flex d-lg-none justify-content-between align-center mb-3 fw-bold"
          >
            <p class="fs-6">焦糖綜合堅果塔</p>
            <p>Caramel & Nut Atelier</p>
          </div>
          <p>
            以焦糖拌炒多種堅果，填入香酥塔皮。層層堆疊的堅果香氣，口感豐富紮實。
          </p>
        </div>
      </div>
      <!-- 9 -->
      <!-- 桌面版 -->
      <div class="col-12 col-lg-4 d-none d-lg-block">
        <div class="first-sweet-box-content">
          <img
            src="/assets/images/Theme_Detail/Feature/pic_mochi_desktop.jpg"
            alt="餅乾"
            class="rounded-6 mb-4 mb-lg-0"
          />
          <!-- 黑色屏幕 -->
          <div class="overlay">
            <h3 class="fw-bold fs-2 mb-3">花生麻糬</h3>
            <p class="fw-bold fs-5 mb-9">Mochi & Nut House</p>
            <p>
              軟Q麻糬包裹綿密花生餡，香濃順口。
              經典台式甜點，軟糯與堅果香完美交織。
            </p>
          </div>
        </div>
      </div>
      <!-- 手機版 -->
      <div class="col-12 collapse d-lg-none" id="moreCards">
        <img
          src="/assets/images/Theme_Detail/Feature/pic_mochi_mobile.jpg"
          alt="麻糬"
          class="rounded-6 mb-4 mb-lg-0 w-100"
        />
        <div>
          <div
            class="d-flex d-lg-none justify-content-between align-center mb-3 fw-bold"
          >
            <p class="fs-6">花生麻糬</p>
            <p>Mochi & Nut House</p>
          </div>
          <p>
            軟Q麻糬包裹綿密花生餡，香濃順口。經典台式甜點，軟糯與堅果香完美交織。
          </p>
        </div>
      </div>
    </div>
    <!-- 收和按鈕 -->
    <div class="text-center mt-4 d-block d-lg-none">
      <button
        class="btn-outline-primary moreCards"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#moreCards"
        aria-expanded="false"
        aria-controls="moreCards"
      >
        <span class="when-collapsed">展開全部</span>
        <span class="when-not-collapsed">收合內容</span>
      </button>
    </div>
    <img
      class="d-none d-lg-block backgroundPattern z-n1"
      src="/assets/images/Theme_Detail/Feature/BackgroundPattern.svg"
      alt=""
    />
    <img
      src="/assets/images/Theme_Detail/Feature/BackgroundPattern_mobile_collapse.svg"
      alt=""
      class="d-block d-lg-none collapse z-n1 backgroundPattern"
    />
    <img
      src="/assets/images/Theme_Detail/Feature/BackgroundPattern_mobile_expand.svg"
      alt=""
      class="d-block d-lg-none expanded z-n1 backgroundPattern"
    />
  </div>
  <!-- <img
    class="d-none d-lg-block z-n1 backgroundPattern"
    src="/assets/images/Theme_Detail/Feature/BackgroundPattern.svg"
    alt=""
  />
  <img
    src="/assets/images/Theme_Detail/Feature/BackgroundPattern_mobile_collapse.svg"
    alt=""
    class="d-block d-lg-none collapse z-n1 backgroundPattern"
  />
  <img
    src="/assets/images/Theme_Detail/Feature/BackgroundPattern_mobile_expand.svg"
    alt=""
    class="d-block d-lg-none expanded z-n1 backgroundPattern"
  /> -->
</section>
