<section class="py-lg-11 py-17 bg-neutral-300">
    <div class="container">
        <div class="text-center mb-lg-14 mb-15">
            <p class="text-primary-600 fs-7 fs-lg-6 ls-1 fw-bold mb-lg-6 mb-3">sweet words</p>
            <picture>
                <source media="(max-width: 960px)"
                    srcset="/assets/images/Theme_Detail/Feature/Title_section04_mobile.svg">
                <img src="/assets/images/Theme_Detail/Feature/Title_section04.svg" alt="Title_section04">
            </picture>
        </div>
        <div
            class="bg-neutral-250 p-6 py-lg-8 px-lg-16 d-flex justify-content-center align-items-start flex-column flex-lg-row rounded-8 mb-lg-14 mb-15">
            <div class="rate-left p-0 py-lg-5 text-center mb-5 mb-lg-0">
                <div class="d-flex flex-row flex-lg-column align-items-center justify-content-start">
                    <p class="noto_sans text-neutral-800 fs-lg-1 fs-4 fw-bold ls-1 lh-sm mb-lg-5 mb-0 me-3 me-lg-0">4.8
                    </p>
                    <div class="rate d-flex justify-content-center gap-1 mb-lg-3 mb-0 me-3 me-lg-0">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M14.0249 3.47063L15.7101 6.70313C15.8355 6.94108 16.0154 7.14595 16.2352 7.30095C16.455 7.45596 16.7084 7.55668 16.9746 7.59488L20.5341 8.08238C22.4376 8.34488 23.1756 10.6916 21.7679 11.9966L19.3304 14.2459C19.1229 14.437 18.9671 14.6775 18.8776 14.945C18.788 15.2125 18.7676 15.4983 18.8181 15.7759L19.4129 19.0744C19.7436 20.9119 17.8319 22.3444 16.1541 21.5044L12.7521 19.8169C12.518 19.7022 12.2606 19.6425 11.9999 19.6425C11.7391 19.6425 11.4818 19.7022 11.2476 19.8169L7.84563 21.5044C6.16713 22.3369 4.25613 20.9119 4.58688 19.0744L5.18163 15.7751C5.28663 15.2126 5.09163 14.6351 4.67013 14.2451L2.23188 11.9966C0.82413 10.6991 1.56213 8.34412 3.46563 8.08162L7.02513 7.59413C7.29214 7.55831 7.54655 7.45853 7.76671 7.30327C7.98686 7.14801 8.16626 6.94187 8.28963 6.70237L9.97563 3.47063C10.8336 1.84312 13.1736 1.84312 14.0241 3.47063"
                                fill="#FFC107" />
                        </svg>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M14.0249 3.47063L15.7101 6.70313C15.8355 6.94108 16.0154 7.14595 16.2352 7.30095C16.455 7.45596 16.7084 7.55668 16.9746 7.59488L20.5341 8.08238C22.4376 8.34488 23.1756 10.6916 21.7679 11.9966L19.3304 14.2459C19.1229 14.437 18.9671 14.6775 18.8776 14.945C18.788 15.2125 18.7676 15.4983 18.8181 15.7759L19.4129 19.0744C19.7436 20.9119 17.8319 22.3444 16.1541 21.5044L12.7521 19.8169C12.518 19.7022 12.2606 19.6425 11.9999 19.6425C11.7391 19.6425 11.4818 19.7022 11.2476 19.8169L7.84563 21.5044C6.16713 22.3369 4.25613 20.9119 4.58688 19.0744L5.18163 15.7751C5.28663 15.2126 5.09163 14.6351 4.67013 14.2451L2.23188 11.9966C0.82413 10.6991 1.56213 8.34412 3.46563 8.08162L7.02513 7.59413C7.29214 7.55831 7.54655 7.45853 7.76671 7.30327C7.98686 7.14801 8.16626 6.94187 8.28963 6.70237L9.97563 3.47063C10.8336 1.84312 13.1736 1.84312 14.0241 3.47063"
                                fill="#FFC107" />
                        </svg>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M14.0249 3.47063L15.7101 6.70313C15.8355 6.94108 16.0154 7.14595 16.2352 7.30095C16.455 7.45596 16.7084 7.55668 16.9746 7.59488L20.5341 8.08238C22.4376 8.34488 23.1756 10.6916 21.7679 11.9966L19.3304 14.2459C19.1229 14.437 18.9671 14.6775 18.8776 14.945C18.788 15.2125 18.7676 15.4983 18.8181 15.7759L19.4129 19.0744C19.7436 20.9119 17.8319 22.3444 16.1541 21.5044L12.7521 19.8169C12.518 19.7022 12.2606 19.6425 11.9999 19.6425C11.7391 19.6425 11.4818 19.7022 11.2476 19.8169L7.84563 21.5044C6.16713 22.3369 4.25613 20.9119 4.58688 19.0744L5.18163 15.7751C5.28663 15.2126 5.09163 14.6351 4.67013 14.2451L2.23188 11.9966C0.82413 10.6991 1.56213 8.34412 3.46563 8.08162L7.02513 7.59413C7.29214 7.55831 7.54655 7.45853 7.76671 7.30327C7.98686 7.14801 8.16626 6.94187 8.28963 6.70237L9.97563 3.47063C10.8336 1.84312 13.1736 1.84312 14.0241 3.47063"
                                fill="#FFC107" />
                        </svg>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M14.0249 3.47063L15.7101 6.70313C15.8355 6.94108 16.0154 7.14595 16.2352 7.30095C16.455 7.45596 16.7084 7.55668 16.9746 7.59488L20.5341 8.08238C22.4376 8.34488 23.1756 10.6916 21.7679 11.9966L19.3304 14.2459C19.1229 14.437 18.9671 14.6775 18.8776 14.945C18.788 15.2125 18.7676 15.4983 18.8181 15.7759L19.4129 19.0744C19.7436 20.9119 17.8319 22.3444 16.1541 21.5044L12.7521 19.8169C12.518 19.7022 12.2606 19.6425 11.9999 19.6425C11.7391 19.6425 11.4818 19.7022 11.2476 19.8169L7.84563 21.5044C6.16713 22.3369 4.25613 20.9119 4.58688 19.0744L5.18163 15.7751C5.28663 15.2126 5.09163 14.6351 4.67013 14.2451L2.23188 11.9966C0.82413 10.6991 1.56213 8.34412 3.46563 8.08162L7.02513 7.59413C7.29214 7.55831 7.54655 7.45853 7.76671 7.30327C7.98686 7.14801 8.16626 6.94187 8.28963 6.70237L9.97563 3.47063C10.8336 1.84312 13.1736 1.84312 14.0241 3.47063"
                                fill="#FFC107" />
                        </svg>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M14.0249 3.47063L15.7101 6.70313C15.8355 6.94108 16.0154 7.14595 16.2352 7.30095C16.455 7.45596 16.7084 7.55668 16.9746 7.59488L20.5341 8.08238C22.4376 8.34488 23.1756 10.6916 21.7679 11.9966L19.3304 14.2459C19.1229 14.437 18.9671 14.6775 18.8776 14.945C18.788 15.2125 18.7676 15.4983 18.8181 15.7759L19.4129 19.0744C19.7436 20.9119 17.8319 22.3444 16.1541 21.5044L12.7521 19.8169C12.518 19.7022 12.2606 19.6425 11.9999 19.6425C11.7391 19.6425 11.4818 19.7022 11.2476 19.8169L7.84563 21.5044C6.16713 22.3369 4.25613 20.9119 4.58688 19.0744L5.18163 15.7751C5.28663 15.2126 5.09163 14.6351 4.67013 14.2451L2.23188 11.9966C0.82413 10.6991 1.56213 8.34412 3.46563 8.08162L7.02513 7.59413C7.29214 7.55831 7.54655 7.45853 7.76671 7.30327C7.98686 7.14801 8.16626 6.94187 8.28963 6.70237L9.97563 3.47063C10.8336 1.84312 13.1736 1.84312 14.0241 3.47063"
                                fill="#FFC107" />
                        </svg>
                    </div>
                    <p class="text-neutral-600 fs-lg-6 fs-9">5,937 則評價</p>
                </div>
            </div>
            <div class="border-start mx-6 border-2 border-neutral-400 d-lg-block d-none" style="height: 160px;"></div>
            <div class="p-0 py-lg-5 px-lg-9 d-flex flex-column gap-3 flex-grow-1">
                <div class="d-flex align-items-center">
                    <p class="text-neutral-800 fs-lg-6 fs-8 lh-sm ls-1 fw-bold noto_sans me-lg-2 me-1">5</p>
                    <div class="star me-lg-6 me-2 d-flex align-items-center">
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M10.6874 1.89219L12.0918 4.58594C12.1962 4.78423 12.3462 4.95496 12.5293 5.08413C12.7125 5.2133 12.9237 5.29723 13.1455 5.32906L16.1118 5.73531C17.698 5.95406 18.313 7.90969 17.1399 8.99719L15.1086 10.8716C14.9357 11.0308 14.8059 11.2313 14.7313 11.4542C14.6567 11.6771 14.6396 11.9153 14.6818 12.1466L15.1774 14.8953C15.453 16.4266 13.8599 17.6203 12.4618 16.9203L9.62678 15.5141C9.43163 15.4185 9.2172 15.3688 8.9999 15.3688C8.7826 15.3688 8.56817 15.4185 8.37302 15.5141L5.53803 16.9203C4.13928 17.6141 2.54678 16.4266 2.8224 14.8953L3.31803 12.1459C3.40553 11.6772 3.24303 11.1959 2.89178 10.8709L0.8599 8.99719C-0.313225 7.91594 0.301775 5.95344 1.88802 5.73469L4.85427 5.32844C5.07678 5.2986 5.28879 5.21544 5.47225 5.08606C5.65572 4.95668 5.80522 4.78489 5.90803 4.58531L7.31302 1.89219C8.02802 0.535937 9.97802 0.535937 10.6868 1.89219"
                                fill="#FFC107" />
                        </svg>
                    </div>

                    <div class="progress me-lg-6 me-2">
                        <div class="progress-bar" role="progressbar" style="width: 80%"></div>
                    </div>
                    <p class="text-neutral-600 fs-8 text-nowrap">5050 則 (80%)</p>
                </div>
                <div class="d-flex align-items-center">
                    <p class="text-neutral-800 fs-lg-6 fs-8 lh-sm ls-1 fw-bold noto_sans me-lg-2 me-1">4</p>
                    <div class="star me-lg-6 me-2 d-flex align-items-center">
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M10.6874 1.89219L12.0918 4.58594C12.1962 4.78423 12.3462 4.95496 12.5293 5.08413C12.7125 5.2133 12.9237 5.29723 13.1455 5.32906L16.1118 5.73531C17.698 5.95406 18.313 7.90969 17.1399 8.99719L15.1086 10.8716C14.9357 11.0308 14.8059 11.2313 14.7313 11.4542C14.6567 11.6771 14.6396 11.9153 14.6818 12.1466L15.1774 14.8953C15.453 16.4266 13.8599 17.6203 12.4618 16.9203L9.62678 15.5141C9.43163 15.4185 9.2172 15.3688 8.9999 15.3688C8.7826 15.3688 8.56817 15.4185 8.37302 15.5141L5.53803 16.9203C4.13928 17.6141 2.54678 16.4266 2.8224 14.8953L3.31803 12.1459C3.40553 11.6772 3.24303 11.1959 2.89178 10.8709L0.8599 8.99719C-0.313225 7.91594 0.301775 5.95344 1.88802 5.73469L4.85427 5.32844C5.07678 5.2986 5.28879 5.21544 5.47225 5.08606C5.65572 4.95668 5.80522 4.78489 5.90803 4.58531L7.31302 1.89219C8.02802 0.535937 9.97802 0.535937 10.6868 1.89219"
                                fill="#FFC107" />
                        </svg>
                    </div>

                    <div class="progress me-lg-6 me-2">
                        <div class="progress-bar" role="progressbar" style="width: 12%"></div>
                    </div>
                    <p class="text-neutral-600 fs-8 text-nowrap">700 則 (12%)</p>
                </div>
                <div class="d-flex align-items-center">
                    <p class="text-neutral-800 fs-lg-6 fs-8 lh-sm ls-1 fw-bold noto_sans me-lg-2 me-1">3</p>
                    <div class="star me-lg-6 me-2 d-flex align-items-center">
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M10.6874 1.89219L12.0918 4.58594C12.1962 4.78423 12.3462 4.95496 12.5293 5.08413C12.7125 5.2133 12.9237 5.29723 13.1455 5.32906L16.1118 5.73531C17.698 5.95406 18.313 7.90969 17.1399 8.99719L15.1086 10.8716C14.9357 11.0308 14.8059 11.2313 14.7313 11.4542C14.6567 11.6771 14.6396 11.9153 14.6818 12.1466L15.1774 14.8953C15.453 16.4266 13.8599 17.6203 12.4618 16.9203L9.62678 15.5141C9.43163 15.4185 9.2172 15.3688 8.9999 15.3688C8.7826 15.3688 8.56817 15.4185 8.37302 15.5141L5.53803 16.9203C4.13928 17.6141 2.54678 16.4266 2.8224 14.8953L3.31803 12.1459C3.40553 11.6772 3.24303 11.1959 2.89178 10.8709L0.8599 8.99719C-0.313225 7.91594 0.301775 5.95344 1.88802 5.73469L4.85427 5.32844C5.07678 5.2986 5.28879 5.21544 5.47225 5.08606C5.65572 4.95668 5.80522 4.78489 5.90803 4.58531L7.31302 1.89219C8.02802 0.535937 9.97802 0.535937 10.6868 1.89219"
                                fill="#FFC107" />
                        </svg>
                    </div>

                    <div class="progress me-lg-6 me-2">
                        <div class="progress-bar" role="progressbar" style="width: 5%"></div>
                    </div>
                    <p class="text-neutral-600 fs-8 text-nowrap">150 則 (5%)</p>
                </div>
                <div class="d-flex align-items-center">
                    <p class="text-neutral-800 fs-lg-6 fs-8 lh-sm ls-1 fw-bold noto_sans me-lg-2 me-1">2</p>
                    <div class="star me-lg-6 me-2 d-flex align-items-center">
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M10.6874 1.89219L12.0918 4.58594C12.1962 4.78423 12.3462 4.95496 12.5293 5.08413C12.7125 5.2133 12.9237 5.29723 13.1455 5.32906L16.1118 5.73531C17.698 5.95406 18.313 7.90969 17.1399 8.99719L15.1086 10.8716C14.9357 11.0308 14.8059 11.2313 14.7313 11.4542C14.6567 11.6771 14.6396 11.9153 14.6818 12.1466L15.1774 14.8953C15.453 16.4266 13.8599 17.6203 12.4618 16.9203L9.62678 15.5141C9.43163 15.4185 9.2172 15.3688 8.9999 15.3688C8.7826 15.3688 8.56817 15.4185 8.37302 15.5141L5.53803 16.9203C4.13928 17.6141 2.54678 16.4266 2.8224 14.8953L3.31803 12.1459C3.40553 11.6772 3.24303 11.1959 2.89178 10.8709L0.8599 8.99719C-0.313225 7.91594 0.301775 5.95344 1.88802 5.73469L4.85427 5.32844C5.07678 5.2986 5.28879 5.21544 5.47225 5.08606C5.65572 4.95668 5.80522 4.78489 5.90803 4.58531L7.31302 1.89219C8.02802 0.535937 9.97802 0.535937 10.6868 1.89219"
                                fill="#FFC107" />
                        </svg>
                    </div>

                    <div class="progress me-lg-6 me-2">
                        <div class="progress-bar" role="progressbar" style="width: 2%"></div>
                    </div>
                    <p class="text-neutral-600 fs-8 text-nowrap">30 則 (2%)</p>
                </div>
                <div class="d-flex align-items-center">
                    <p class="text-neutral-800 fs-lg-6 fs-8 lh-sm ls-1 fw-bold noto_sans me-lg-2 me-1">1</p>
                    <div class="star me-lg-6 me-2 d-flex align-items-center">
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M10.6874 1.89219L12.0918 4.58594C12.1962 4.78423 12.3462 4.95496 12.5293 5.08413C12.7125 5.2133 12.9237 5.29723 13.1455 5.32906L16.1118 5.73531C17.698 5.95406 18.313 7.90969 17.1399 8.99719L15.1086 10.8716C14.9357 11.0308 14.8059 11.2313 14.7313 11.4542C14.6567 11.6771 14.6396 11.9153 14.6818 12.1466L15.1774 14.8953C15.453 16.4266 13.8599 17.6203 12.4618 16.9203L9.62678 15.5141C9.43163 15.4185 9.2172 15.3688 8.9999 15.3688C8.7826 15.3688 8.56817 15.4185 8.37302 15.5141L5.53803 16.9203C4.13928 17.6141 2.54678 16.4266 2.8224 14.8953L3.31803 12.1459C3.40553 11.6772 3.24303 11.1959 2.89178 10.8709L0.8599 8.99719C-0.313225 7.91594 0.301775 5.95344 1.88802 5.73469L4.85427 5.32844C5.07678 5.2986 5.28879 5.21544 5.47225 5.08606C5.65572 4.95668 5.80522 4.78489 5.90803 4.58531L7.31302 1.89219C8.02802 0.535937 9.97802 0.535937 10.6868 1.89219"
                                fill="#FFC107" />
                        </svg>
                    </div>

                    <div class="progress me-lg-6 me-2">
                        <div class="progress-bar" role="progressbar" style="width: 1%"></div>
                    </div>
                    <p class="text-neutral-600 fs-8 text-nowrap">7 則 (1%)</p>
                </div>
            </div>
        </div>
        <div class="d-none d-lg-flex justify-content-between align-items-center mb-14">
            <div class="d-flex gap-2">
                <button type="button" class="btn btn-tag active">全部 (3,452)</button>
                <button type="button" class="btn btn-tag">精選甜點 (1,280)</button>
                <button type="button" class="btn btn-tag">異國風味 (742)</button>
                <button type="button" class="btn btn-tag">季節限定 (598)</button>
                <button type="button" class="btn btn-tag">無負擔甜點 (410)</button>
                <button type="button" class="btn btn-tag">在地甜點 (230)</button>
                <button type="button" class="btn btn-tag">素食甜點 (192)</button>
            </div>
            <div class="d-flex">
                <button type="button" class="btn-text active p-3 fs-8">評價由高至低 ↓</button>
                <button type="button" class="btn-text p-3 fs-8">評價由低至高 ↑</button>
            </div>
        </div>
        <div class="d-flex d-lg-none justify-content-end">
            <div class="dropdown me-2">
                <button class="btn border-0 d-flex align-items-center p-3" type="button" id="dropdownMenu"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    全部主題
                    <svg class="ms-2" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M7.29279 9.29357C7.48031 9.1061 7.73462 9.00078 7.99979 9.00078C8.26495 9.00078 8.51926 9.1061 8.70679 9.29357L11.9998 12.5866L15.2928 9.29357C15.385 9.19806 15.4954 9.12188 15.6174 9.06947C15.7394 9.01706 15.8706 8.98947 16.0034 8.98832C16.1362 8.98717 16.2678 9.01247 16.3907 9.06275C16.5136 9.11303 16.6253 9.18728 16.7192 9.28118C16.8131 9.37507 16.8873 9.48672 16.9376 9.60962C16.9879 9.73251 17.0132 9.86419 17.012 9.99697C17.0109 10.1298 16.9833 10.261 16.9309 10.383C16.8785 10.505 16.8023 10.6153 16.7068 10.7076L12.7068 14.7076C12.5193 14.895 12.265 15.0004 11.9998 15.0004C11.7346 15.0004 11.4803 14.895 11.2928 14.7076L7.29279 10.7076C7.10532 10.52 7 10.2657 7 10.0006C7 9.73541 7.10532 9.4811 7.29279 9.29357Z" />
                    </svg>
                </button>
                <ul class="dropdown-menu m-0 custom-dropdown shadow-sm" aria-labelledby="dropdownMenu">
                    <li><button class="dropdown-item active" type="button">全部主題</button></li>
                    <li><button class="dropdown-item" type="button">精選甜點</button></li>
                    <li><button class="dropdown-item" type="button">異國風味</button></li>
                    <li><button class="dropdown-item" type="button">季節限定</button></li>
                    <li><button class="dropdown-item" type="button">無負擔甜點</button></li>
                    <li><button class="dropdown-item" type="button">在地甜點</button></li>
                    <li><button class="dropdown-item" type="button">素食甜點</button></li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn border-0 d-flex align-items-center p-3" type="button" id="dropdownMenu"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    預設排序
                    <svg class="ms-2" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M7.29279 9.29357C7.48031 9.1061 7.73462 9.00078 7.99979 9.00078C8.26495 9.00078 8.51926 9.1061 8.70679 9.29357L11.9998 12.5866L15.2928 9.29357C15.385 9.19806 15.4954 9.12188 15.6174 9.06947C15.7394 9.01706 15.8706 8.98947 16.0034 8.98832C16.1362 8.98717 16.2678 9.01247 16.3907 9.06275C16.5136 9.11303 16.6253 9.18728 16.7192 9.28118C16.8131 9.37507 16.8873 9.48672 16.9376 9.60962C16.9879 9.73251 17.0132 9.86419 17.012 9.99697C17.0109 10.1298 16.9833 10.261 16.9309 10.383C16.8785 10.505 16.8023 10.6153 16.7068 10.7076L12.7068 14.7076C12.5193 14.895 12.265 15.0004 11.9998 15.0004C11.7346 15.0004 11.4803 14.895 11.2928 14.7076L7.29279 10.7076C7.10532 10.52 7 10.2657 7 10.0006C7 9.73541 7.10532 9.4811 7.29279 9.29357Z" />
                    </svg>
                </button>
                <ul class="dropdown-menu m-0 custom-dropdown shadow-sm" aria-labelledby="dropdownMenu">
                    <li><button class="dropdown-item active" type="button">預設排序</button></li>
                    <li><button class="dropdown-item" type="button">評價最高</button></li>
                    <li><button class="dropdown-item" type="button">評價最低</button></li>
                </ul>
            </div>
        </div>
        <div class="d-flex flex-column mb-lg-17 mb-15">
            <div class="d-flex flex-lg-row flex-column px-lg-0 px-3">
                <div class="ms-lg-5 ms-0 d-flex align-items-start py-3 me-6" style="min-width: 200px;">
                    <div class="me-lg-4 me-3" style="width: 48px;height: 48px;">
                        <img class="rounded-pill" src="/assets/images/Theme_Detail/Feature/custom-1.jpg" alt="custom-1"
                            width="48" height="48">
                    </div>
                    <div class="d-flex flex-column">
                        <div
                            class="d-flex flex-wrap flex-lg-column align-items-lg-start align-items-center mb-2 mb-lg-0">
                            <p class="mb-lg-1 mb-0 me-2">奶茶抹太厚</p>
                            <div class="d-flex align-items-center">
                                <svg class="me-1" width="14" height="14" viewBox="0 0 14 14" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M7.00131 12.8337C7.76749 12.8346 8.52631 12.6842 9.23416 12.3909C9.94202 12.0977 10.585 11.6675 11.1261 11.1251C11.6685 10.584 12.0987 9.94104 12.3919 9.23319C12.6851 8.52533 12.8356 7.76651 12.8346 7.00033C12.8356 6.23415 12.6851 5.47533 12.3919 4.76747C12.0987 4.05962 11.6685 3.41667 11.1261 2.87558C10.585 2.33313 9.94202 1.90294 9.23416 1.60972C8.52631 1.31651 7.76749 1.16605 7.00131 1.167C6.23512 1.16605 5.47631 1.31651 4.76845 1.60972C4.06059 1.90294 3.41765 2.33313 2.87656 2.87558C2.3341 3.41667 1.90391 4.05962 1.6107 4.76747C1.31748 5.47533 1.16703 6.23415 1.16797 7.00033C1.16703 7.76651 1.31748 8.52533 1.6107 9.23319C1.90391 9.94104 2.3341 10.584 2.87656 11.1251C3.41765 11.6675 4.06059 12.0977 4.76845 12.3909C5.47631 12.6842 6.23512 12.8346 7.00131 12.8337Z"
                                        stroke="#28A745" stroke-width="1.16667" stroke-linejoin="round" />
                                    <path d="M4.66797 7.00098L6.41797 8.75098L9.91797 5.25098" stroke="#28A745"
                                        stroke-width="1.16667" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                <p class="text-neutral-700 fs-9">已驗證買家</p>
                            </div>
                        </div>
                        <div class="d-lg-none d-flex flex-wrap gap-2 align-items-center">
                            <div class="d-flex align-items-center gap-1">
                                <div>
                                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8.34992 1.21414L9.47342 3.36914C9.55699 3.52778 9.67695 3.66436 9.82348 3.76769C9.97001 3.87103 10.1389 3.93818 10.3164 3.96364L12.6894 4.28864C13.9584 4.46364 14.4504 6.02814 13.5119 6.89814L11.8869 8.39764C11.7486 8.52506 11.6447 8.6854 11.585 8.86374C11.5253 9.04208 11.5117 9.23262 11.5454 9.41764L11.9419 11.6166C12.1624 12.8416 10.8879 13.7966 9.76942 13.2366L7.50142 12.1116C7.3453 12.0352 7.17376 11.9954 6.99992 11.9954C6.82608 11.9954 6.65454 12.0352 6.49842 12.1116L4.23042 13.2366C3.11142 13.7916 1.83742 12.8416 2.05792 11.6166L2.45442 9.41714C2.52442 9.04214 2.39442 8.65714 2.11342 8.39714L0.48792 6.89814C-0.45058 6.03314 0.0414199 4.46314 1.31042 4.28814L3.68342 3.96314C3.86143 3.93927 4.03103 3.87275 4.1778 3.76924C4.32458 3.66573 4.44417 3.5283 4.52642 3.36864L5.65042 1.21414C6.22242 0.129141 7.78242 0.129141 8.34942 1.21414"
                                            fill="#FFC107" />
                                    </svg>
                                </div>
                                <div>
                                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8.34992 1.21414L9.47342 3.36914C9.55699 3.52778 9.67695 3.66436 9.82348 3.76769C9.97001 3.87103 10.1389 3.93818 10.3164 3.96364L12.6894 4.28864C13.9584 4.46364 14.4504 6.02814 13.5119 6.89814L11.8869 8.39764C11.7486 8.52506 11.6447 8.6854 11.585 8.86374C11.5253 9.04208 11.5117 9.23262 11.5454 9.41764L11.9419 11.6166C12.1624 12.8416 10.8879 13.7966 9.76942 13.2366L7.50142 12.1116C7.3453 12.0352 7.17376 11.9954 6.99992 11.9954C6.82608 11.9954 6.65454 12.0352 6.49842 12.1116L4.23042 13.2366C3.11142 13.7916 1.83742 12.8416 2.05792 11.6166L2.45442 9.41714C2.52442 9.04214 2.39442 8.65714 2.11342 8.39714L0.48792 6.89814C-0.45058 6.03314 0.0414199 4.46314 1.31042 4.28814L3.68342 3.96314C3.86143 3.93927 4.03103 3.87275 4.1778 3.76924C4.32458 3.66573 4.44417 3.5283 4.52642 3.36864L5.65042 1.21414C6.22242 0.129141 7.78242 0.129141 8.34942 1.21414"
                                            fill="#FFC107" />
                                    </svg>
                                </div>
                                <div>
                                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8.34992 1.21414L9.47342 3.36914C9.55699 3.52778 9.67695 3.66436 9.82348 3.76769C9.97001 3.87103 10.1389 3.93818 10.3164 3.96364L12.6894 4.28864C13.9584 4.46364 14.4504 6.02814 13.5119 6.89814L11.8869 8.39764C11.7486 8.52506 11.6447 8.6854 11.585 8.86374C11.5253 9.04208 11.5117 9.23262 11.5454 9.41764L11.9419 11.6166C12.1624 12.8416 10.8879 13.7966 9.76942 13.2366L7.50142 12.1116C7.3453 12.0352 7.17376 11.9954 6.99992 11.9954C6.82608 11.9954 6.65454 12.0352 6.49842 12.1116L4.23042 13.2366C3.11142 13.7916 1.83742 12.8416 2.05792 11.6166L2.45442 9.41714C2.52442 9.04214 2.39442 8.65714 2.11342 8.39714L0.48792 6.89814C-0.45058 6.03314 0.0414199 4.46314 1.31042 4.28814L3.68342 3.96314C3.86143 3.93927 4.03103 3.87275 4.1778 3.76924C4.32458 3.66573 4.44417 3.5283 4.52642 3.36864L5.65042 1.21414C6.22242 0.129141 7.78242 0.129141 8.34942 1.21414"
                                            fill="#FFC107" />
                                    </svg>
                                </div>
                                <div>
                                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8.34992 1.21414L9.47342 3.36914C9.55699 3.52778 9.67695 3.66436 9.82348 3.76769C9.97001 3.87103 10.1389 3.93818 10.3164 3.96364L12.6894 4.28864C13.9584 4.46364 14.4504 6.02814 13.5119 6.89814L11.8869 8.39764C11.7486 8.52506 11.6447 8.6854 11.585 8.86374C11.5253 9.04208 11.5117 9.23262 11.5454 9.41764L11.9419 11.6166C12.1624 12.8416 10.8879 13.7966 9.76942 13.2366L7.50142 12.1116C7.3453 12.0352 7.17376 11.9954 6.99992 11.9954C6.82608 11.9954 6.65454 12.0352 6.49842 12.1116L4.23042 13.2366C3.11142 13.7916 1.83742 12.8416 2.05792 11.6166L2.45442 9.41714C2.52442 9.04214 2.39442 8.65714 2.11342 8.39714L0.48792 6.89814C-0.45058 6.03314 0.0414199 4.46314 1.31042 4.28814L3.68342 3.96314C3.86143 3.93927 4.03103 3.87275 4.1778 3.76924C4.32458 3.66573 4.44417 3.5283 4.52642 3.36864L5.65042 1.21414C6.22242 0.129141 7.78242 0.129141 8.34942 1.21414"
                                            fill="#FFC107" />
                                    </svg>
                                </div>
                                <div>
                                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8.34992 1.21414L9.47342 3.36914C9.55699 3.52778 9.67695 3.66436 9.82348 3.76769C9.97001 3.87103 10.1389 3.93818 10.3164 3.96364L12.6894 4.28864C13.9584 4.46364 14.4504 6.02814 13.5119 6.89814L11.8869 8.39764C11.7486 8.52506 11.6447 8.6854 11.585 8.86374C11.5253 9.04208 11.5117 9.23262 11.5454 9.41764L11.9419 11.6166C12.1624 12.8416 10.8879 13.7966 9.76942 13.2366L7.50142 12.1116C7.3453 12.0352 7.17376 11.9954 6.99992 11.9954C6.82608 11.9954 6.65454 12.0352 6.49842 12.1116L4.23042 13.2366C3.11142 13.7916 1.83742 12.8416 2.05792 11.6166L2.45442 9.41714C2.52442 9.04214 2.39442 8.65714 2.11342 8.39714L0.48792 6.89814C-0.45058 6.03314 0.0414199 4.46314 1.31042 4.28814L3.68342 3.96314C3.86143 3.93927 4.03103 3.87275 4.1778 3.76924C4.32458 3.66573 4.44417 3.5283 4.52642 3.36864L5.65042 1.21414C6.22242 0.129141 7.78242 0.129141 8.34942 1.21414"
                                            fill="#FFC107" />
                                    </svg>
                                </div>
                            </div>
                            <div class="d-flex align-items-center">
                                <p class="fs-8 noto_sans text-neutral-600">2025/9/27</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="py-3 me-lg-6 me-0" style="max-width: 808px;">
                    <div class="d-lg-flex d-none align-items-center mb-4">
                        <div class="me-4">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M14.0249 3.47063L15.7101 6.70313C15.8355 6.94108 16.0154 7.14595 16.2352 7.30095C16.455 7.45596 16.7084 7.55668 16.9746 7.59488L20.5341 8.08238C22.4376 8.34488 23.1756 10.6916 21.7679 11.9966L19.3304 14.2459C19.1229 14.437 18.9671 14.6775 18.8776 14.945C18.788 15.2125 18.7676 15.4983 18.8181 15.7759L19.4129 19.0744C19.7436 20.9119 17.8319 22.3444 16.1541 21.5044L12.7521 19.8169C12.518 19.7022 12.2606 19.6425 11.9999 19.6425C11.7391 19.6425 11.4818 19.7022 11.2476 19.8169L7.84563 21.5044C6.16713 22.3369 4.25613 20.9119 4.58688 19.0744L5.18163 15.7751C5.28663 15.2126 5.09163 14.6351 4.67013 14.2451L2.23188 11.9966C0.82413 10.6991 1.56213 8.34412 3.46563 8.08162L7.02513 7.59413C7.29214 7.55831 7.54655 7.45853 7.76671 7.30327C7.98686 7.14801 8.16626 6.94187 8.28963 6.70237L9.97563 3.47063C10.8336 1.84312 13.1736 1.84312 14.0241 3.47063"
                                    fill="#FFC107" />
                            </svg>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M14.0249 3.47063L15.7101 6.70313C15.8355 6.94108 16.0154 7.14595 16.2352 7.30095C16.455 7.45596 16.7084 7.55668 16.9746 7.59488L20.5341 8.08238C22.4376 8.34488 23.1756 10.6916 21.7679 11.9966L19.3304 14.2459C19.1229 14.437 18.9671 14.6775 18.8776 14.945C18.788 15.2125 18.7676 15.4983 18.8181 15.7759L19.4129 19.0744C19.7436 20.9119 17.8319 22.3444 16.1541 21.5044L12.7521 19.8169C12.518 19.7022 12.2606 19.6425 11.9999 19.6425C11.7391 19.6425 11.4818 19.7022 11.2476 19.8169L7.84563 21.5044C6.16713 22.3369 4.25613 20.9119 4.58688 19.0744L5.18163 15.7751C5.28663 15.2126 5.09163 14.6351 4.67013 14.2451L2.23188 11.9966C0.82413 10.6991 1.56213 8.34412 3.46563 8.08162L7.02513 7.59413C7.29214 7.55831 7.54655 7.45853 7.76671 7.30327C7.98686 7.14801 8.16626 6.94187 8.28963 6.70237L9.97563 3.47063C10.8336 1.84312 13.1736 1.84312 14.0241 3.47063"
                                    fill="#FFC107" />
                            </svg>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M14.0249 3.47063L15.7101 6.70313C15.8355 6.94108 16.0154 7.14595 16.2352 7.30095C16.455 7.45596 16.7084 7.55668 16.9746 7.59488L20.5341 8.08238C22.4376 8.34488 23.1756 10.6916 21.7679 11.9966L19.3304 14.2459C19.1229 14.437 18.9671 14.6775 18.8776 14.945C18.788 15.2125 18.7676 15.4983 18.8181 15.7759L19.4129 19.0744C19.7436 20.9119 17.8319 22.3444 16.1541 21.5044L12.7521 19.8169C12.518 19.7022 12.2606 19.6425 11.9999 19.6425C11.7391 19.6425 11.4818 19.7022 11.2476 19.8169L7.84563 21.5044C6.16713 22.3369 4.25613 20.9119 4.58688 19.0744L5.18163 15.7751C5.28663 15.2126 5.09163 14.6351 4.67013 14.2451L2.23188 11.9966C0.82413 10.6991 1.56213 8.34412 3.46563 8.08162L7.02513 7.59413C7.29214 7.55831 7.54655 7.45853 7.76671 7.30327C7.98686 7.14801 8.16626 6.94187 8.28963 6.70237L9.97563 3.47063C10.8336 1.84312 13.1736 1.84312 14.0241 3.47063"
                                    fill="#FFC107" />
                            </svg>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M14.0249 3.47063L15.7101 6.70313C15.8355 6.94108 16.0154 7.14595 16.2352 7.30095C16.455 7.45596 16.7084 7.55668 16.9746 7.59488L20.5341 8.08238C22.4376 8.34488 23.1756 10.6916 21.7679 11.9966L19.3304 14.2459C19.1229 14.437 18.9671 14.6775 18.8776 14.945C18.788 15.2125 18.7676 15.4983 18.8181 15.7759L19.4129 19.0744C19.7436 20.9119 17.8319 22.3444 16.1541 21.5044L12.7521 19.8169C12.518 19.7022 12.2606 19.6425 11.9999 19.6425C11.7391 19.6425 11.4818 19.7022 11.2476 19.8169L7.84563 21.5044C6.16713 22.3369 4.25613 20.9119 4.58688 19.0744L5.18163 15.7751C5.28663 15.2126 5.09163 14.6351 4.67013 14.2451L2.23188 11.9966C0.82413 10.6991 1.56213 8.34412 3.46563 8.08162L7.02513 7.59413C7.29214 7.55831 7.54655 7.45853 7.76671 7.30327C7.98686 7.14801 8.16626 6.94187 8.28963 6.70237L9.97563 3.47063C10.8336 1.84312 13.1736 1.84312 14.0241 3.47063"
                                    fill="#FFC107" />
                            </svg>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M14.0249 3.47063L15.7101 6.70313C15.8355 6.94108 16.0154 7.14595 16.2352 7.30095C16.455 7.45596 16.7084 7.55668 16.9746 7.59488L20.5341 8.08238C22.4376 8.34488 23.1756 10.6916 21.7679 11.9966L19.3304 14.2459C19.1229 14.437 18.9671 14.6775 18.8776 14.945C18.788 15.2125 18.7676 15.4983 18.8181 15.7759L19.4129 19.0744C19.7436 20.9119 17.8319 22.3444 16.1541 21.5044L12.7521 19.8169C12.518 19.7022 12.2606 19.6425 11.9999 19.6425C11.7391 19.6425 11.4818 19.7022 11.2476 19.8169L7.84563 21.5044C6.16713 22.3369 4.25613 20.9119 4.58688 19.0744L5.18163 15.7751C5.28663 15.2126 5.09163 14.6351 4.67013 14.2451L2.23188 11.9966C0.82413 10.6991 1.56213 8.34412 3.46563 8.08162L7.02513 7.59413C7.29214 7.55831 7.54655 7.45853 7.76671 7.30327C7.98686 7.14801 8.16626 6.94187 8.28963 6.70237L9.97563 3.47063C10.8336 1.84312 13.1736 1.84312 14.0241 3.47063"
                                    fill="#FFC107" />
                            </svg>
                        </div>
                        <p class="fs-8 noto_sans text-neutral-600">2025/9/27</p>
                    </div>
                    <div class="py-1 px-3 bg-neutral-250 rounded-pill mb-5">
                        <p class="fs-8 text-neutral-700">購買產品：精選甜點盒 (12個月)、在地甜點盒(3個月)</p>
                    </div>
                    <div>
                        <p class="fw-bold ls-1 mb-2 lh-sm">終於不用再開甜點單選半天了</p>
                        <p id="textBox" class="text-truncate-box">
                            以前每天滑社群軟體收藏各種甜點照片，看到漂亮的蛋糕、餅乾、布丁就會想試試看，但真的要下單時卻又猶豫半天，最後常常什麼都沒買，收藏清單越來越長卻始終沒動作。有時候甚至會因為選項太多，反而覺得壓力很大，乾脆放棄不買
                            🙈。<br>後來開始訂「一盒甜」之後，真的完全解決了我的選擇障礙！每個月的主題都超用心
                            💝，從包裝設計到甜點搭配都很有驚喜感
                            ✨。打開盒子的瞬間，就像在拆生日禮物一樣療癒 ，會忍不住拍照分享給朋友。
                            而且最重要的是，吃了好幾個月下來，每次都覺得品質很穩定，完全沒有踩過雷 ，每個品項都好吃又有特色 😍，常常讓我發現新的喜好。現在已經養成習慣，變成每月最期待的小確幸 🥰！</p>
                        <div class="d-flex justify-content-end mb-lg-4 mb-6">
                            <button id="toggleBtn" type="button" class="btn-icon-tailing d-flex align-items-center">
                                查看全文
                                <div class="d-flex justify-content-center align-items-center"
                                    style="width: 20px;height: 20px;">
                                    <svg id="toggleIcon" width="10" height="5" viewBox="0 0 10 5" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M1.077 0.244642C1.23327 0.0884159 1.44519 0.000652941 1.66616 0.000652941C1.88713 0.000652941 2.09906 0.0884159 2.25533 0.244642L4.9995 2.98881L7.74366 0.244642C7.82054 0.16505 7.91249 0.101564 8.01416 0.0578901C8.11583 0.0142159 8.22518 -0.00877265 8.33583 -0.00973416C8.44648 -0.0106957 8.55621 0.0103897 8.65862 0.0522904C8.76104 0.0941912 8.85408 0.156069 8.93233 0.234313C9.01057 0.312557 9.07245 0.4056 9.11435 0.508013C9.15625 0.610427 9.17733 0.72016 9.17637 0.830809C9.17541 0.941458 9.15242 1.05081 9.10875 1.15248C9.06507 1.25415 9.00159 1.3461 8.922 1.42297L5.58866 4.75631C5.43239 4.91253 5.22047 5.0003 4.9995 5.0003C4.77853 5.0003 4.5666 4.91253 4.41033 4.75631L1.077 1.42297C0.920771 1.2667 0.833008 1.05478 0.833008 0.833808C0.833008 0.612838 0.920771 0.400915 1.077 0.244642Z"
                                            fill="#5F7C9C" />
                                    </svg>
                                </div>
                            </button>
                        </div>
                        <div class="d-flex align-items-center gap-2 flex-wrap">
                            <img class="rounded-5" src="/assets/images/Theme_Detail/Feature/pic_review 01 (2).jpg"
                                alt="pic_review-1" width="100" height="100">
                            <img class="rounded-5" src="/assets/images/Theme_Detail/Feature/pic_review 01 (1).jpg"
                                alt="pic_review-2" width="100" height="100">
                            <img class="rounded-5" src="/assets/images/Theme_Detail/Feature/pic_review 01 (3).jpg"
                                alt="pic_review-3" width="100" height="100">
                            <img class="rounded-5" src="/assets/images/Theme_Detail/Feature/pic_review 01 (5).jpg"
                                alt="pic_review-4" width="100" height="100">
                            <div class="position-relative d-inline-block rounded-5">
                                <!-- 原圖 -->
                                <img src="/assets/images/Theme_Detail/Feature/pic_review 01 (4).jpg"
                                    class="img-fluid rounded-5 w-100 h-100" alt="pic_review-5">

                                <!-- 半透明黑色遮罩 + 文字置中 -->
                                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center rounded-5"
                                    style="background-color: rgba(0,0,0,0.5);">
                                    <span class="text-neutral-100 fw-bold fs-6 noto_sans">+4</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="align-self-lg-start align-self-end flex-grow-1" style="width: 200px;">
                    <div class="d-flex justify-content-end align-items-center p-3 me-lg-5 me-0">
                        <svg class="me-1" width="20" height="21" viewBox="0 0 20 21" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M11.6667 8.83333H15.6367C15.9207 8.83334 16.2001 8.90595 16.4482 9.04427C16.6963 9.18259 16.9049 9.38202 17.0543 9.62364C17.2036 9.86525 17.2888 10.141 17.3016 10.4248C17.3144 10.7086 17.2545 10.9909 17.1275 11.245L14.2108 17.0783C14.0724 17.3554 13.8595 17.5884 13.596 17.7512C13.3325 17.914 13.0289 18.0001 12.7192 18H9.37167C9.235 18 9.10028 17.9833 8.9675 17.95L5.83333 17.1667M11.6667 8.83333V4.66667C11.6667 4.22464 11.4911 3.80072 11.1785 3.48816C10.866 3.17559 10.442 3 10 3H9.92083C9.50417 3 9.16667 3.3375 9.16667 3.75417C9.16733 4.34931 8.99096 4.9312 8.66 5.42583L5.83333 9.66667V17.1667M11.6667 8.83333H10M5.83333 17.1667H4.16667C3.72464 17.1667 3.30072 16.9911 2.98816 16.6785C2.67559 16.366 2.5 15.942 2.5 15.5V10.5C2.5 10.058 2.67559 9.63405 2.98816 9.32149C3.30072 9.00893 3.72464 8.83333 4.16667 8.83333H6.25"
                                stroke="#4A443D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <p class="fs-8">3 人認為此評論有幫助</p>
                    </div>

                </div>
            </div>
            <hr class="border-neutral-500 border-1 my-lg-4 my-3">
            <div class="d-flex flex-lg-row flex-column px-lg-0 px-3">
                <div class="ms-lg-5 ms-0 d-flex align-items-start py-3 me-6" style="min-width: 200px;">
                    <div class="me-lg-4 me-3" style="width: 48px;height: 48px;">
                        <img class="rounded-pill" src="/assets/images/Theme_Detail/Feature/custom-2.jpg" alt="custom-2"
                            width="48" height="48">
                    </div>
                    <div class="d-flex flex-column">
                        <div
                            class="d-flex flex-wrap flex-lg-column align-items-lg-start align-items-center mb-2 mb-lg-0">
                            <p class="mb-lg-1 mb-0 me-2">焦糖人生好焦慮</p>
                            <div class="d-flex align-items-center">
                                <svg class="me-1" width="14" height="14" viewBox="0 0 14 14" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M7.00131 12.8337C7.76749 12.8346 8.52631 12.6842 9.23416 12.3909C9.94202 12.0977 10.585 11.6675 11.1261 11.1251C11.6685 10.584 12.0987 9.94104 12.3919 9.23319C12.6851 8.52533 12.8356 7.76651 12.8346 7.00033C12.8356 6.23415 12.6851 5.47533 12.3919 4.76747C12.0987 4.05962 11.6685 3.41667 11.1261 2.87558C10.585 2.33313 9.94202 1.90294 9.23416 1.60972C8.52631 1.31651 7.76749 1.16605 7.00131 1.167C6.23512 1.16605 5.47631 1.31651 4.76845 1.60972C4.06059 1.90294 3.41765 2.33313 2.87656 2.87558C2.3341 3.41667 1.90391 4.05962 1.6107 4.76747C1.31748 5.47533 1.16703 6.23415 1.16797 7.00033C1.16703 7.76651 1.31748 8.52533 1.6107 9.23319C1.90391 9.94104 2.3341 10.584 2.87656 11.1251C3.41765 11.6675 4.06059 12.0977 4.76845 12.3909C5.47631 12.6842 6.23512 12.8346 7.00131 12.8337Z"
                                        stroke="#28A745" stroke-width="1.16667" stroke-linejoin="round" />
                                    <path d="M4.66797 7.00098L6.41797 8.75098L9.91797 5.25098" stroke="#28A745"
                                        stroke-width="1.16667" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                <p class="text-neutral-700 fs-9">已驗證買家</p>
                            </div>
                        </div>
                        <div class="d-lg-none d-flex flex-wrap gap-2 align-items-center">
                            <div class="d-flex align-items-center gap-1">
                                <div>
                                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8.34992 1.21414L9.47342 3.36914C9.55699 3.52778 9.67695 3.66436 9.82348 3.76769C9.97001 3.87103 10.1389 3.93818 10.3164 3.96364L12.6894 4.28864C13.9584 4.46364 14.4504 6.02814 13.5119 6.89814L11.8869 8.39764C11.7486 8.52506 11.6447 8.6854 11.585 8.86374C11.5253 9.04208 11.5117 9.23262 11.5454 9.41764L11.9419 11.6166C12.1624 12.8416 10.8879 13.7966 9.76942 13.2366L7.50142 12.1116C7.3453 12.0352 7.17376 11.9954 6.99992 11.9954C6.82608 11.9954 6.65454 12.0352 6.49842 12.1116L4.23042 13.2366C3.11142 13.7916 1.83742 12.8416 2.05792 11.6166L2.45442 9.41714C2.52442 9.04214 2.39442 8.65714 2.11342 8.39714L0.48792 6.89814C-0.45058 6.03314 0.0414199 4.46314 1.31042 4.28814L3.68342 3.96314C3.86143 3.93927 4.03103 3.87275 4.1778 3.76924C4.32458 3.66573 4.44417 3.5283 4.52642 3.36864L5.65042 1.21414C6.22242 0.129141 7.78242 0.129141 8.34942 1.21414"
                                            fill="#FFC107" />
                                    </svg>
                                </div>
                                <div>
                                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8.34992 1.21414L9.47342 3.36914C9.55699 3.52778 9.67695 3.66436 9.82348 3.76769C9.97001 3.87103 10.1389 3.93818 10.3164 3.96364L12.6894 4.28864C13.9584 4.46364 14.4504 6.02814 13.5119 6.89814L11.8869 8.39764C11.7486 8.52506 11.6447 8.6854 11.585 8.86374C11.5253 9.04208 11.5117 9.23262 11.5454 9.41764L11.9419 11.6166C12.1624 12.8416 10.8879 13.7966 9.76942 13.2366L7.50142 12.1116C7.3453 12.0352 7.17376 11.9954 6.99992 11.9954C6.82608 11.9954 6.65454 12.0352 6.49842 12.1116L4.23042 13.2366C3.11142 13.7916 1.83742 12.8416 2.05792 11.6166L2.45442 9.41714C2.52442 9.04214 2.39442 8.65714 2.11342 8.39714L0.48792 6.89814C-0.45058 6.03314 0.0414199 4.46314 1.31042 4.28814L3.68342 3.96314C3.86143 3.93927 4.03103 3.87275 4.1778 3.76924C4.32458 3.66573 4.44417 3.5283 4.52642 3.36864L5.65042 1.21414C6.22242 0.129141 7.78242 0.129141 8.34942 1.21414"
                                            fill="#FFC107" />
                                    </svg>
                                </div>
                                <div>
                                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8.34992 1.21414L9.47342 3.36914C9.55699 3.52778 9.67695 3.66436 9.82348 3.76769C9.97001 3.87103 10.1389 3.93818 10.3164 3.96364L12.6894 4.28864C13.9584 4.46364 14.4504 6.02814 13.5119 6.89814L11.8869 8.39764C11.7486 8.52506 11.6447 8.6854 11.585 8.86374C11.5253 9.04208 11.5117 9.23262 11.5454 9.41764L11.9419 11.6166C12.1624 12.8416 10.8879 13.7966 9.76942 13.2366L7.50142 12.1116C7.3453 12.0352 7.17376 11.9954 6.99992 11.9954C6.82608 11.9954 6.65454 12.0352 6.49842 12.1116L4.23042 13.2366C3.11142 13.7916 1.83742 12.8416 2.05792 11.6166L2.45442 9.41714C2.52442 9.04214 2.39442 8.65714 2.11342 8.39714L0.48792 6.89814C-0.45058 6.03314 0.0414199 4.46314 1.31042 4.28814L3.68342 3.96314C3.86143 3.93927 4.03103 3.87275 4.1778 3.76924C4.32458 3.66573 4.44417 3.5283 4.52642 3.36864L5.65042 1.21414C6.22242 0.129141 7.78242 0.129141 8.34942 1.21414"
                                            fill="#FFC107" />
                                    </svg>
                                </div>
                                <div>
                                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8.34992 1.21414L9.47342 3.36914C9.55699 3.52778 9.67695 3.66436 9.82348 3.76769C9.97001 3.87103 10.1389 3.93818 10.3164 3.96364L12.6894 4.28864C13.9584 4.46364 14.4504 6.02814 13.5119 6.89814L11.8869 8.39764C11.7486 8.52506 11.6447 8.6854 11.585 8.86374C11.5253 9.04208 11.5117 9.23262 11.5454 9.41764L11.9419 11.6166C12.1624 12.8416 10.8879 13.7966 9.76942 13.2366L7.50142 12.1116C7.3453 12.0352 7.17376 11.9954 6.99992 11.9954C6.82608 11.9954 6.65454 12.0352 6.49842 12.1116L4.23042 13.2366C3.11142 13.7916 1.83742 12.8416 2.05792 11.6166L2.45442 9.41714C2.52442 9.04214 2.39442 8.65714 2.11342 8.39714L0.48792 6.89814C-0.45058 6.03314 0.0414199 4.46314 1.31042 4.28814L3.68342 3.96314C3.86143 3.93927 4.03103 3.87275 4.1778 3.76924C4.32458 3.66573 4.44417 3.5283 4.52642 3.36864L5.65042 1.21414C6.22242 0.129141 7.78242 0.129141 8.34942 1.21414"
                                            fill="#FFC107" />
                                    </svg>
                                </div>
                                <div>
                                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8.34992 1.21414L9.47342 3.36914C9.55699 3.52778 9.67695 3.66436 9.82348 3.76769C9.97001 3.87103 10.1389 3.93818 10.3164 3.96364L12.6894 4.28864C13.9584 4.46364 14.4504 6.02814 13.5119 6.89814L11.8869 8.39764C11.7486 8.52506 11.6447 8.6854 11.585 8.86374C11.5253 9.04208 11.5117 9.23262 11.5454 9.41764L11.9419 11.6166C12.1624 12.8416 10.8879 13.7966 9.76942 13.2366L7.50142 12.1116C7.3453 12.0352 7.17376 11.9954 6.99992 11.9954C6.82608 11.9954 6.65454 12.0352 6.49842 12.1116L4.23042 13.2366C3.11142 13.7916 1.83742 12.8416 2.05792 11.6166L2.45442 9.41714C2.52442 9.04214 2.39442 8.65714 2.11342 8.39714L0.48792 6.89814C-0.45058 6.03314 0.0414199 4.46314 1.31042 4.28814L3.68342 3.96314C3.86143 3.93927 4.03103 3.87275 4.1778 3.76924C4.32458 3.66573 4.44417 3.5283 4.52642 3.36864L5.65042 1.21414C6.22242 0.129141 7.78242 0.129141 8.34942 1.21414"
                                            fill="#FFC107" />
                                    </svg>
                                </div>
                            </div>
                            <div class="d-flex align-items-center">
                                <p class="fs-8 noto_sans text-neutral-600">2025/9/20</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="py-3 me-lg-6 me-0" style="max-width: 808px;">
                    <div class="d-lg-flex d-none align-items-center mb-4">
                        <div class="me-4">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M14.0249 3.47063L15.7101 6.70313C15.8355 6.94108 16.0154 7.14595 16.2352 7.30095C16.455 7.45596 16.7084 7.55668 16.9746 7.59488L20.5341 8.08238C22.4376 8.34488 23.1756 10.6916 21.7679 11.9966L19.3304 14.2459C19.1229 14.437 18.9671 14.6775 18.8776 14.945C18.788 15.2125 18.7676 15.4983 18.8181 15.7759L19.4129 19.0744C19.7436 20.9119 17.8319 22.3444 16.1541 21.5044L12.7521 19.8169C12.518 19.7022 12.2606 19.6425 11.9999 19.6425C11.7391 19.6425 11.4818 19.7022 11.2476 19.8169L7.84563 21.5044C6.16713 22.3369 4.25613 20.9119 4.58688 19.0744L5.18163 15.7751C5.28663 15.2126 5.09163 14.6351 4.67013 14.2451L2.23188 11.9966C0.82413 10.6991 1.56213 8.34412 3.46563 8.08162L7.02513 7.59413C7.29214 7.55831 7.54655 7.45853 7.76671 7.30327C7.98686 7.14801 8.16626 6.94187 8.28963 6.70237L9.97563 3.47063C10.8336 1.84312 13.1736 1.84312 14.0241 3.47063"
                                    fill="#FFC107" />
                            </svg>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M14.0249 3.47063L15.7101 6.70313C15.8355 6.94108 16.0154 7.14595 16.2352 7.30095C16.455 7.45596 16.7084 7.55668 16.9746 7.59488L20.5341 8.08238C22.4376 8.34488 23.1756 10.6916 21.7679 11.9966L19.3304 14.2459C19.1229 14.437 18.9671 14.6775 18.8776 14.945C18.788 15.2125 18.7676 15.4983 18.8181 15.7759L19.4129 19.0744C19.7436 20.9119 17.8319 22.3444 16.1541 21.5044L12.7521 19.8169C12.518 19.7022 12.2606 19.6425 11.9999 19.6425C11.7391 19.6425 11.4818 19.7022 11.2476 19.8169L7.84563 21.5044C6.16713 22.3369 4.25613 20.9119 4.58688 19.0744L5.18163 15.7751C5.28663 15.2126 5.09163 14.6351 4.67013 14.2451L2.23188 11.9966C0.82413 10.6991 1.56213 8.34412 3.46563 8.08162L7.02513 7.59413C7.29214 7.55831 7.54655 7.45853 7.76671 7.30327C7.98686 7.14801 8.16626 6.94187 8.28963 6.70237L9.97563 3.47063C10.8336 1.84312 13.1736 1.84312 14.0241 3.47063"
                                    fill="#FFC107" />
                            </svg>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M14.0249 3.47063L15.7101 6.70313C15.8355 6.94108 16.0154 7.14595 16.2352 7.30095C16.455 7.45596 16.7084 7.55668 16.9746 7.59488L20.5341 8.08238C22.4376 8.34488 23.1756 10.6916 21.7679 11.9966L19.3304 14.2459C19.1229 14.437 18.9671 14.6775 18.8776 14.945C18.788 15.2125 18.7676 15.4983 18.8181 15.7759L19.4129 19.0744C19.7436 20.9119 17.8319 22.3444 16.1541 21.5044L12.7521 19.8169C12.518 19.7022 12.2606 19.6425 11.9999 19.6425C11.7391 19.6425 11.4818 19.7022 11.2476 19.8169L7.84563 21.5044C6.16713 22.3369 4.25613 20.9119 4.58688 19.0744L5.18163 15.7751C5.28663 15.2126 5.09163 14.6351 4.67013 14.2451L2.23188 11.9966C0.82413 10.6991 1.56213 8.34412 3.46563 8.08162L7.02513 7.59413C7.29214 7.55831 7.54655 7.45853 7.76671 7.30327C7.98686 7.14801 8.16626 6.94187 8.28963 6.70237L9.97563 3.47063C10.8336 1.84312 13.1736 1.84312 14.0241 3.47063"
                                    fill="#FFC107" />
                            </svg>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M14.0249 3.47063L15.7101 6.70313C15.8355 6.94108 16.0154 7.14595 16.2352 7.30095C16.455 7.45596 16.7084 7.55668 16.9746 7.59488L20.5341 8.08238C22.4376 8.34488 23.1756 10.6916 21.7679 11.9966L19.3304 14.2459C19.1229 14.437 18.9671 14.6775 18.8776 14.945C18.788 15.2125 18.7676 15.4983 18.8181 15.7759L19.4129 19.0744C19.7436 20.9119 17.8319 22.3444 16.1541 21.5044L12.7521 19.8169C12.518 19.7022 12.2606 19.6425 11.9999 19.6425C11.7391 19.6425 11.4818 19.7022 11.2476 19.8169L7.84563 21.5044C6.16713 22.3369 4.25613 20.9119 4.58688 19.0744L5.18163 15.7751C5.28663 15.2126 5.09163 14.6351 4.67013 14.2451L2.23188 11.9966C0.82413 10.6991 1.56213 8.34412 3.46563 8.08162L7.02513 7.59413C7.29214 7.55831 7.54655 7.45853 7.76671 7.30327C7.98686 7.14801 8.16626 6.94187 8.28963 6.70237L9.97563 3.47063C10.8336 1.84312 13.1736 1.84312 14.0241 3.47063"
                                    fill="#FFC107" />
                            </svg>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M14.0249 3.47063L15.7101 6.70313C15.8355 6.94108 16.0154 7.14595 16.2352 7.30095C16.455 7.45596 16.7084 7.55668 16.9746 7.59488L20.5341 8.08238C22.4376 8.34488 23.1756 10.6916 21.7679 11.9966L19.3304 14.2459C19.1229 14.437 18.9671 14.6775 18.8776 14.945C18.788 15.2125 18.7676 15.4983 18.8181 15.7759L19.4129 19.0744C19.7436 20.9119 17.8319 22.3444 16.1541 21.5044L12.7521 19.8169C12.518 19.7022 12.2606 19.6425 11.9999 19.6425C11.7391 19.6425 11.4818 19.7022 11.2476 19.8169L7.84563 21.5044C6.16713 22.3369 4.25613 20.9119 4.58688 19.0744L5.18163 15.7751C5.28663 15.2126 5.09163 14.6351 4.67013 14.2451L2.23188 11.9966C0.82413 10.6991 1.56213 8.34412 3.46563 8.08162L7.02513 7.59413C7.29214 7.55831 7.54655 7.45853 7.76671 7.30327C7.98686 7.14801 8.16626 6.94187 8.28963 6.70237L9.97563 3.47063C10.8336 1.84312 13.1736 1.84312 14.0241 3.47063"
                                    fill="#FFC107" />
                            </svg>
                        </div>
                        <p class="fs-8 noto_sans text-neutral-600">2025/9/20</p>
                    </div>
                    <div class="py-1 px-3 bg-neutral-250 rounded-pill mb-5">
                        <p class="fs-8 text-neutral-700">購買產品：精選甜點盒 (6個月)、異國風味甜點盒(3個月)</p>
                    </div>
                    <div>
                        <p class="fw-bold ls-1 mb-2 lh-sm">我媽一開始說浪費錢，現在都比我還期待開箱</p>
                        <p id="textBox" class="text-truncate-box mb-lg-4 mb-6">
                            本來是我自己訂的，結果有次甜點分享給家人吃後，我媽居然主動問我「這個月什麼時候送來？」！甜點的品質很好，而且會搭配保存方式與建議食用方式，真的很貼心。</p>
                        <div class="d-flex align-items-center gap-2 flex-wrap">
                            <img class="rounded-5" src="/assets/images/Theme_Detail/Feature/pic_review 02 (1).jpg"
                                alt="pic_review-6" width="100" height="100">
                            <img class="rounded-5" src="/assets/images/Theme_Detail/Feature/pic_review 02 (2).jpg"
                                alt="pic_review-7" width="100" height="100">
                            <img class="rounded-5" src="/assets/images/Theme_Detail/Feature/pic_review 02 (3).jpg"
                                alt="pic_review-8" width="100" height="100">

                        </div>
                    </div>
                </div>
                <div class="align-self-lg-start align-self-end flex-grow-1" style="width: 200px;">
                    <div class="d-flex justify-content-end align-items-center p-3 me-lg-5 me-0">
                        <svg class="me-1" width="20" height="21" viewBox="0 0 20 21" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M11.6667 8.83333H15.6367C15.9207 8.83334 16.2001 8.90595 16.4482 9.04427C16.6963 9.18259 16.9049 9.38202 17.0543 9.62364C17.2036 9.86525 17.2888 10.141 17.3016 10.4248C17.3144 10.7086 17.2545 10.9909 17.1275 11.245L14.2108 17.0783C14.0724 17.3554 13.8595 17.5884 13.596 17.7512C13.3325 17.914 13.0289 18.0001 12.7192 18H9.37167C9.235 18 9.10028 17.9833 8.9675 17.95L5.83333 17.1667M11.6667 8.83333V4.66667C11.6667 4.22464 11.4911 3.80072 11.1785 3.48816C10.866 3.17559 10.442 3 10 3H9.92083C9.50417 3 9.16667 3.3375 9.16667 3.75417C9.16733 4.34931 8.99096 4.9312 8.66 5.42583L5.83333 9.66667V17.1667M11.6667 8.83333H10M5.83333 17.1667H4.16667C3.72464 17.1667 3.30072 16.9911 2.98816 16.6785C2.67559 16.366 2.5 15.942 2.5 15.5V10.5C2.5 10.058 2.67559 9.63405 2.98816 9.32149C3.30072 9.00893 3.72464 8.83333 4.16667 8.83333H6.25"
                                stroke="#4A443D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <p class="fs-8">此評論有幫助</p>
                    </div>

                </div>
            </div>
            <hr class="border-neutral-500 border-1 my-lg-4 my-3">
            <div class="d-flex flex-lg-row flex-column px-lg-0 px-3">
                <div class="ms-lg-5 ms-0 d-flex align-items-start py-3 me-6" style="min-width: 200px;">
                    <div class="me-lg-4 me-3" style="width: 48px;height: 48px;">
                        <img class="rounded-pill" src="/assets/images/Theme_Detail/Feature/custom-3.jpg" alt="custom-3"
                            width="48" height="48">
                    </div>
                    <div class="d-flex flex-column">
                        <div
                            class="d-flex flex-wrap flex-lg-column align-items-lg-start align-items-center mb-2 mb-lg-0">
                            <p class="mb-lg-1 mb-0 me-2">胖到掉渣女神</p>
                            <div class="d-flex align-items-center">
                                <svg class="me-1" width="14" height="14" viewBox="0 0 14 14" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M7.00131 12.8337C7.76749 12.8346 8.52631 12.6842 9.23416 12.3909C9.94202 12.0977 10.585 11.6675 11.1261 11.1251C11.6685 10.584 12.0987 9.94104 12.3919 9.23319C12.6851 8.52533 12.8356 7.76651 12.8346 7.00033C12.8356 6.23415 12.6851 5.47533 12.3919 4.76747C12.0987 4.05962 11.6685 3.41667 11.1261 2.87558C10.585 2.33313 9.94202 1.90294 9.23416 1.60972C8.52631 1.31651 7.76749 1.16605 7.00131 1.167C6.23512 1.16605 5.47631 1.31651 4.76845 1.60972C4.06059 1.90294 3.41765 2.33313 2.87656 2.87558C2.3341 3.41667 1.90391 4.05962 1.6107 4.76747C1.31748 5.47533 1.16703 6.23415 1.16797 7.00033C1.16703 7.76651 1.31748 8.52533 1.6107 9.23319C1.90391 9.94104 2.3341 10.584 2.87656 11.1251C3.41765 11.6675 4.06059 12.0977 4.76845 12.3909C5.47631 12.6842 6.23512 12.8346 7.00131 12.8337Z"
                                        stroke="#28A745" stroke-width="1.16667" stroke-linejoin="round" />
                                    <path d="M4.66797 7.00098L6.41797 8.75098L9.91797 5.25098" stroke="#28A745"
                                        stroke-width="1.16667" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                <p class="text-neutral-700 fs-9">已驗證買家</p>
                            </div>
                        </div>
                        <div class="d-lg-none d-flex flex-wrap gap-2 align-items-center">
                            <div class="d-flex align-items-center gap-1">
                                <div>
                                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8.34992 1.21414L9.47342 3.36914C9.55699 3.52778 9.67695 3.66436 9.82348 3.76769C9.97001 3.87103 10.1389 3.93818 10.3164 3.96364L12.6894 4.28864C13.9584 4.46364 14.4504 6.02814 13.5119 6.89814L11.8869 8.39764C11.7486 8.52506 11.6447 8.6854 11.585 8.86374C11.5253 9.04208 11.5117 9.23262 11.5454 9.41764L11.9419 11.6166C12.1624 12.8416 10.8879 13.7966 9.76942 13.2366L7.50142 12.1116C7.3453 12.0352 7.17376 11.9954 6.99992 11.9954C6.82608 11.9954 6.65454 12.0352 6.49842 12.1116L4.23042 13.2366C3.11142 13.7916 1.83742 12.8416 2.05792 11.6166L2.45442 9.41714C2.52442 9.04214 2.39442 8.65714 2.11342 8.39714L0.48792 6.89814C-0.45058 6.03314 0.0414199 4.46314 1.31042 4.28814L3.68342 3.96314C3.86143 3.93927 4.03103 3.87275 4.1778 3.76924C4.32458 3.66573 4.44417 3.5283 4.52642 3.36864L5.65042 1.21414C6.22242 0.129141 7.78242 0.129141 8.34942 1.21414"
                                            fill="#FFC107" />
                                    </svg>
                                </div>
                                <div>
                                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8.34992 1.21414L9.47342 3.36914C9.55699 3.52778 9.67695 3.66436 9.82348 3.76769C9.97001 3.87103 10.1389 3.93818 10.3164 3.96364L12.6894 4.28864C13.9584 4.46364 14.4504 6.02814 13.5119 6.89814L11.8869 8.39764C11.7486 8.52506 11.6447 8.6854 11.585 8.86374C11.5253 9.04208 11.5117 9.23262 11.5454 9.41764L11.9419 11.6166C12.1624 12.8416 10.8879 13.7966 9.76942 13.2366L7.50142 12.1116C7.3453 12.0352 7.17376 11.9954 6.99992 11.9954C6.82608 11.9954 6.65454 12.0352 6.49842 12.1116L4.23042 13.2366C3.11142 13.7916 1.83742 12.8416 2.05792 11.6166L2.45442 9.41714C2.52442 9.04214 2.39442 8.65714 2.11342 8.39714L0.48792 6.89814C-0.45058 6.03314 0.0414199 4.46314 1.31042 4.28814L3.68342 3.96314C3.86143 3.93927 4.03103 3.87275 4.1778 3.76924C4.32458 3.66573 4.44417 3.5283 4.52642 3.36864L5.65042 1.21414C6.22242 0.129141 7.78242 0.129141 8.34942 1.21414"
                                            fill="#FFC107" />
                                    </svg>
                                </div>
                                <div>
                                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8.34992 1.21414L9.47342 3.36914C9.55699 3.52778 9.67695 3.66436 9.82348 3.76769C9.97001 3.87103 10.1389 3.93818 10.3164 3.96364L12.6894 4.28864C13.9584 4.46364 14.4504 6.02814 13.5119 6.89814L11.8869 8.39764C11.7486 8.52506 11.6447 8.6854 11.585 8.86374C11.5253 9.04208 11.5117 9.23262 11.5454 9.41764L11.9419 11.6166C12.1624 12.8416 10.8879 13.7966 9.76942 13.2366L7.50142 12.1116C7.3453 12.0352 7.17376 11.9954 6.99992 11.9954C6.82608 11.9954 6.65454 12.0352 6.49842 12.1116L4.23042 13.2366C3.11142 13.7916 1.83742 12.8416 2.05792 11.6166L2.45442 9.41714C2.52442 9.04214 2.39442 8.65714 2.11342 8.39714L0.48792 6.89814C-0.45058 6.03314 0.0414199 4.46314 1.31042 4.28814L3.68342 3.96314C3.86143 3.93927 4.03103 3.87275 4.1778 3.76924C4.32458 3.66573 4.44417 3.5283 4.52642 3.36864L5.65042 1.21414C6.22242 0.129141 7.78242 0.129141 8.34942 1.21414"
                                            fill="#FFC107" />
                                    </svg>
                                </div>
                                <div>
                                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8.34992 1.21414L9.47342 3.36914C9.55699 3.52778 9.67695 3.66436 9.82348 3.76769C9.97001 3.87103 10.1389 3.93818 10.3164 3.96364L12.6894 4.28864C13.9584 4.46364 14.4504 6.02814 13.5119 6.89814L11.8869 8.39764C11.7486 8.52506 11.6447 8.6854 11.585 8.86374C11.5253 9.04208 11.5117 9.23262 11.5454 9.41764L11.9419 11.6166C12.1624 12.8416 10.8879 13.7966 9.76942 13.2366L7.50142 12.1116C7.3453 12.0352 7.17376 11.9954 6.99992 11.9954C6.82608 11.9954 6.65454 12.0352 6.49842 12.1116L4.23042 13.2366C3.11142 13.7916 1.83742 12.8416 2.05792 11.6166L2.45442 9.41714C2.52442 9.04214 2.39442 8.65714 2.11342 8.39714L0.48792 6.89814C-0.45058 6.03314 0.0414199 4.46314 1.31042 4.28814L3.68342 3.96314C3.86143 3.93927 4.03103 3.87275 4.1778 3.76924C4.32458 3.66573 4.44417 3.5283 4.52642 3.36864L5.65042 1.21414C6.22242 0.129141 7.78242 0.129141 8.34942 1.21414"
                                            fill="#FFC107" />
                                    </svg>
                                </div>
                                <div>
                                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <mask id="path-1-inside-1_2217_3140" fill="white">
                                            <path
                                                d="M8.34992 1.21414L9.47342 3.36914C9.55699 3.52778 9.67695 3.66436 9.82348 3.76769C9.97001 3.87103 10.1389 3.93818 10.3164 3.96364L12.6894 4.28864C13.9584 4.46364 14.4504 6.02814 13.5119 6.89814L11.8869 8.39764C11.7486 8.52506 11.6447 8.6854 11.585 8.86374C11.5253 9.04208 11.5117 9.23262 11.5454 9.41764L11.9419 11.6166C12.1624 12.8416 10.8879 13.7966 9.76942 13.2366L7.50142 12.1116C7.3453 12.0352 7.17376 11.9954 6.99992 11.9954C6.82608 11.9954 6.65454 12.0352 6.49842 12.1116L4.23042 13.2366C3.11142 13.7916 1.83742 12.8416 2.05792 11.6166L2.45442 9.41714C2.52442 9.04214 2.39442 8.65714 2.11342 8.39714L0.48792 6.89814C-0.45058 6.03314 0.0414199 4.46314 1.31042 4.28814L3.68342 3.96314C3.86143 3.93927 4.03103 3.87275 4.1778 3.76924C4.32458 3.66573 4.44417 3.5283 4.52642 3.36864L5.65042 1.21414C6.22242 0.129141 7.78242 0.129141 8.34942 1.21414" />
                                        </mask>
                                        <path
                                            d="M9.47342 3.36914L8.58668 3.83144L8.58868 3.83522L9.47342 3.36914ZM10.3164 3.96364L10.1744 4.95353L10.1807 4.95439L10.3164 3.96364ZM12.6894 4.28864L12.826 3.29802L12.8251 3.29789L12.6894 4.28864ZM13.5119 6.89814L14.1901 7.63306L14.1918 7.6315L13.5119 6.89814ZM11.8869 8.39764L12.5644 9.13315L12.5651 9.13256L11.8869 8.39764ZM11.5454 9.41764L12.5296 9.24019L12.5292 9.23835L11.5454 9.41764ZM11.9419 11.6166L12.9261 11.4395L12.9261 11.4392L11.9419 11.6166ZM9.76942 13.2366L10.2171 12.3424L10.2138 12.3408L9.76942 13.2366ZM7.50142 12.1116L7.94579 11.2158L7.94133 11.2136L7.50142 12.1116ZM6.99992 11.9954V12.9954V11.9954ZM6.49842 12.1116L6.0585 11.2136L6.05405 11.2158L6.49842 12.1116ZM4.23042 13.2366L4.67475 14.1325L4.67479 14.1325L4.23042 13.2366ZM2.05792 11.6166L1.07378 11.4392L1.07374 11.4395L2.05792 11.6166ZM2.45442 9.41714L1.47138 9.23364L1.47028 9.23973L2.45442 9.41714ZM2.11342 8.39714L2.79257 7.66314L2.79134 7.66201L2.11342 8.39714ZM0.48792 6.89814L1.16584 6.16301L1.16565 6.16283L0.48792 6.89814ZM1.31042 4.28814L1.17473 3.29739L1.17381 3.29752L1.31042 4.28814ZM3.68342 3.96314L3.55049 2.97201L3.54773 2.97239L3.68342 3.96314ZM4.52642 3.36864L3.63981 2.9061L3.63744 2.9107L4.52642 3.36864ZM5.65042 1.21414L4.76581 0.747785L4.76382 0.751603L5.65042 1.21414ZM8.34992 1.21414L7.46319 1.67643L8.58669 3.83143L9.47342 3.36914L10.3601 2.90685L9.23665 0.751849L8.34992 1.21414ZM9.47342 3.36914L8.58868 3.83522C8.74587 4.13362 8.97153 4.39053 9.24716 4.58492L9.82348 3.76769L10.3998 2.95047C10.3824 2.93818 10.3681 2.92193 10.3582 2.90306L9.47342 3.36914ZM9.82348 3.76769L9.24716 4.58492C9.52279 4.77929 9.84055 4.90561 10.1744 4.95351L10.3164 3.96364L10.4584 2.97378C10.4373 2.97075 10.4172 2.96276 10.3998 2.95047L9.82348 3.76769ZM10.3164 3.96364L10.1807 4.95439L12.5537 5.27939L12.6894 4.28864L12.8251 3.29789L10.4521 2.97289L10.3164 3.96364ZM12.6894 4.28864L12.5528 5.27927C12.9854 5.33892 13.1521 5.86813 12.8321 6.16478L13.5119 6.89814L14.1918 7.6315C15.7488 6.18815 14.9315 3.58836 12.826 3.29802L12.6894 4.28864ZM13.5119 6.89814L12.8338 6.16322L11.2088 7.66272L11.8869 8.39764L12.5651 9.13256L14.1901 7.63306L13.5119 6.89814ZM11.8869 8.39764L11.2094 7.66213C10.947 7.90383 10.75 8.20797 10.6368 8.54625L11.585 8.86374L12.5333 9.18122C12.5395 9.16282 12.5502 9.14629 12.5644 9.13315L11.8869 8.39764ZM11.585 8.86374L10.6368 8.54625C10.5235 8.88454 10.4977 9.24597 10.5616 9.59693L11.5454 9.41764L12.5292 9.23835C12.5257 9.21927 12.5271 9.19962 12.5333 9.18122L11.585 8.86374ZM11.5454 9.41764L10.5613 9.59509L10.9578 11.7941L11.9419 11.6166L12.9261 11.4392L12.5295 9.24019L11.5454 9.41764ZM11.9419 11.6166L10.9577 11.7938C11.032 12.2061 10.6013 12.5348 10.2171 12.3425L9.76942 13.2366L9.32173 14.1308C11.1746 15.0585 13.2929 13.4772 12.9261 11.4395L11.9419 11.6166ZM9.76942 13.2366L10.2138 12.3408L7.94579 11.2158L7.50142 12.1116L7.05705 13.0075L9.32505 14.1325L9.76942 13.2366ZM7.50142 12.1116L7.94133 11.2136C7.64827 11.07 7.32626 10.9954 6.99992 10.9954V11.9954V12.9954C7.02127 12.9954 7.04233 13.0003 7.06151 13.0097L7.50142 12.1116ZM6.99992 11.9954V10.9954C6.67358 10.9954 6.35157 11.07 6.05851 11.2136L6.49842 12.1116L6.93833 13.0097C6.95751 13.0003 6.97857 12.9954 6.99992 12.9954V11.9954ZM6.49842 12.1116L6.05405 11.2158L3.78605 12.3408L4.23042 13.2366L4.67479 14.1325L6.94279 13.0075L6.49842 12.1116ZM4.23042 13.2366L3.78609 12.3408C3.39396 12.5353 2.96902 12.1998 3.0421 11.7938L2.05792 11.6166L1.07374 11.4395C0.705824 13.4834 2.82888 15.048 4.67475 14.1325L4.23042 13.2366ZM2.05792 11.6166L3.04206 11.794L3.43856 9.59455L2.45442 9.41714L1.47028 9.23973L1.07378 11.4392L2.05792 11.6166ZM2.45442 9.41714L3.43744 9.60064C3.57149 8.88249 3.32167 8.1527 2.79257 7.66314L2.11342 8.39714L1.43427 9.13114C1.46717 9.16158 1.47735 9.20179 1.4714 9.23364L2.45442 9.41714ZM2.11342 8.39714L2.79134 7.66201L1.16584 6.16301L0.48792 6.89814L-0.190003 7.63327L1.4355 9.13227L2.11342 8.39714ZM0.48792 6.89814L1.16565 6.16283C0.850626 5.87248 1.01261 5.33867 1.44703 5.27877L1.31042 4.28814L1.17381 3.29752C-0.929775 3.58761 -1.75179 6.1938 -0.189807 7.63345L0.48792 6.89814ZM1.31042 4.28814L1.44611 5.27889L3.81911 4.95389L3.68342 3.96314L3.54773 2.97239L1.17473 3.29739L1.31042 4.28814ZM3.68342 3.96314L3.81635 4.95427C4.154 4.90898 4.47572 4.7828 4.75413 4.58646L4.1778 3.76924L3.60148 2.95202C3.58634 2.96269 3.56885 2.96955 3.55049 2.97202L3.68342 3.96314ZM4.1778 3.76924L4.75413 4.58646C5.03253 4.39012 5.25939 4.12944 5.4154 3.82658L4.52642 3.36864L3.63744 2.9107C3.62896 2.92717 3.61662 2.94134 3.60148 2.95202L4.1778 3.76924ZM4.52642 3.36864L5.41302 3.83118L6.53702 1.67668L5.65042 1.21414L4.76382 0.751603L3.63982 2.9061L4.52642 3.36864ZM5.65042 1.21414L6.53502 1.68049C6.73356 1.30389 7.27184 1.31122 7.46314 1.67729L8.34942 1.21414L9.2357 0.750989C8.293 -1.05294 5.71128 -1.04561 4.76582 0.747789L5.65042 1.21414Z"
                                            fill="#FFC107" mask="url(#path-1-inside-1_2217_3140)" />
                                    </svg>

                                </div>
                            </div>
                            <div class="d-flex align-items-center">
                                <p class="fs-8 noto_sans text-neutral-600">2025/9/13</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="py-3 me-lg-6 me-0" style="max-width: 808px;">
                    <div class="d-lg-flex d-none align-items-center mb-4">
                        <div class="me-4">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M14.0249 3.47063L15.7101 6.70313C15.8355 6.94108 16.0154 7.14595 16.2352 7.30095C16.455 7.45596 16.7084 7.55668 16.9746 7.59488L20.5341 8.08238C22.4376 8.34488 23.1756 10.6916 21.7679 11.9966L19.3304 14.2459C19.1229 14.437 18.9671 14.6775 18.8776 14.945C18.788 15.2125 18.7676 15.4983 18.8181 15.7759L19.4129 19.0744C19.7436 20.9119 17.8319 22.3444 16.1541 21.5044L12.7521 19.8169C12.518 19.7022 12.2606 19.6425 11.9999 19.6425C11.7391 19.6425 11.4818 19.7022 11.2476 19.8169L7.84563 21.5044C6.16713 22.3369 4.25613 20.9119 4.58688 19.0744L5.18163 15.7751C5.28663 15.2126 5.09163 14.6351 4.67013 14.2451L2.23188 11.9966C0.82413 10.6991 1.56213 8.34412 3.46563 8.08162L7.02513 7.59413C7.29214 7.55831 7.54655 7.45853 7.76671 7.30327C7.98686 7.14801 8.16626 6.94187 8.28963 6.70237L9.97563 3.47063C10.8336 1.84312 13.1736 1.84312 14.0241 3.47063"
                                    fill="#FFC107" />
                            </svg>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M14.0249 3.47063L15.7101 6.70313C15.8355 6.94108 16.0154 7.14595 16.2352 7.30095C16.455 7.45596 16.7084 7.55668 16.9746 7.59488L20.5341 8.08238C22.4376 8.34488 23.1756 10.6916 21.7679 11.9966L19.3304 14.2459C19.1229 14.437 18.9671 14.6775 18.8776 14.945C18.788 15.2125 18.7676 15.4983 18.8181 15.7759L19.4129 19.0744C19.7436 20.9119 17.8319 22.3444 16.1541 21.5044L12.7521 19.8169C12.518 19.7022 12.2606 19.6425 11.9999 19.6425C11.7391 19.6425 11.4818 19.7022 11.2476 19.8169L7.84563 21.5044C6.16713 22.3369 4.25613 20.9119 4.58688 19.0744L5.18163 15.7751C5.28663 15.2126 5.09163 14.6351 4.67013 14.2451L2.23188 11.9966C0.82413 10.6991 1.56213 8.34412 3.46563 8.08162L7.02513 7.59413C7.29214 7.55831 7.54655 7.45853 7.76671 7.30327C7.98686 7.14801 8.16626 6.94187 8.28963 6.70237L9.97563 3.47063C10.8336 1.84312 13.1736 1.84312 14.0241 3.47063"
                                    fill="#FFC107" />
                            </svg>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M14.0249 3.47063L15.7101 6.70313C15.8355 6.94108 16.0154 7.14595 16.2352 7.30095C16.455 7.45596 16.7084 7.55668 16.9746 7.59488L20.5341 8.08238C22.4376 8.34488 23.1756 10.6916 21.7679 11.9966L19.3304 14.2459C19.1229 14.437 18.9671 14.6775 18.8776 14.945C18.788 15.2125 18.7676 15.4983 18.8181 15.7759L19.4129 19.0744C19.7436 20.9119 17.8319 22.3444 16.1541 21.5044L12.7521 19.8169C12.518 19.7022 12.2606 19.6425 11.9999 19.6425C11.7391 19.6425 11.4818 19.7022 11.2476 19.8169L7.84563 21.5044C6.16713 22.3369 4.25613 20.9119 4.58688 19.0744L5.18163 15.7751C5.28663 15.2126 5.09163 14.6351 4.67013 14.2451L2.23188 11.9966C0.82413 10.6991 1.56213 8.34412 3.46563 8.08162L7.02513 7.59413C7.29214 7.55831 7.54655 7.45853 7.76671 7.30327C7.98686 7.14801 8.16626 6.94187 8.28963 6.70237L9.97563 3.47063C10.8336 1.84312 13.1736 1.84312 14.0241 3.47063"
                                    fill="#FFC107" />
                            </svg>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M14.0249 3.47063L15.7101 6.70313C15.8355 6.94108 16.0154 7.14595 16.2352 7.30095C16.455 7.45596 16.7084 7.55668 16.9746 7.59488L20.5341 8.08238C22.4376 8.34488 23.1756 10.6916 21.7679 11.9966L19.3304 14.2459C19.1229 14.437 18.9671 14.6775 18.8776 14.945C18.788 15.2125 18.7676 15.4983 18.8181 15.7759L19.4129 19.0744C19.7436 20.9119 17.8319 22.3444 16.1541 21.5044L12.7521 19.8169C12.518 19.7022 12.2606 19.6425 11.9999 19.6425C11.7391 19.6425 11.4818 19.7022 11.2476 19.8169L7.84563 21.5044C6.16713 22.3369 4.25613 20.9119 4.58688 19.0744L5.18163 15.7751C5.28663 15.2126 5.09163 14.6351 4.67013 14.2451L2.23188 11.9966C0.82413 10.6991 1.56213 8.34412 3.46563 8.08162L7.02513 7.59413C7.29214 7.55831 7.54655 7.45853 7.76671 7.30327C7.98686 7.14801 8.16626 6.94187 8.28963 6.70237L9.97563 3.47063C10.8336 1.84312 13.1736 1.84312 14.0241 3.47063"
                                    fill="#FFC107" />
                            </svg>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <mask id="path-1-inside-1_2217_2148" fill="white">
                                    <path
                                        d="M14.0249 3.47063L15.7101 6.70313C15.8355 6.94108 16.0154 7.14595 16.2352 7.30095C16.455 7.45596 16.7084 7.55668 16.9746 7.59488L20.5341 8.08238C22.4376 8.34488 23.1756 10.6916 21.7679 11.9966L19.3304 14.2459C19.1229 14.437 18.9671 14.6775 18.8776 14.945C18.788 15.2125 18.7676 15.4983 18.8181 15.7759L19.4129 19.0744C19.7436 20.9119 17.8319 22.3444 16.1541 21.5044L12.7521 19.8169C12.518 19.7022 12.2606 19.6425 11.9999 19.6425C11.7391 19.6425 11.4818 19.7022 11.2476 19.8169L7.84563 21.5044C6.16713 22.3369 4.25613 20.9119 4.58688 19.0744L5.18163 15.7751C5.28663 15.2126 5.09163 14.6351 4.67013 14.2451L2.23188 11.9966C0.82413 10.6991 1.56213 8.34412 3.46563 8.08162L7.02513 7.59413C7.29214 7.55831 7.54655 7.45853 7.76671 7.30327C7.98686 7.14801 8.16626 6.94187 8.28963 6.70237L9.97563 3.47063C10.8336 1.84312 13.1736 1.84312 14.0241 3.47063" />
                                </mask>
                                <path
                                    d="M15.7101 6.70313L14.8234 7.16542L14.8254 7.1692L15.7101 6.70313ZM16.9746 7.59488L16.8326 8.58476L16.8389 8.58563L16.9746 7.59488ZM20.5341 8.08238L20.6707 7.09175L20.6698 7.09162L20.5341 8.08238ZM21.7679 11.9966L22.446 12.7315L22.4477 12.73L21.7679 11.9966ZM19.3304 14.2459L20.0079 14.9814L20.0085 14.9808L19.3304 14.2459ZM18.8181 15.7759L19.8023 15.5984L19.8019 15.5966L18.8181 15.7759ZM19.4129 19.0744L20.3971 18.8972L20.397 18.8969L19.4129 19.0744ZM16.1541 21.5044L16.6018 20.6102L16.5985 20.6085L16.1541 21.5044ZM12.7521 19.8169L13.1965 18.921L13.192 18.9188L12.7521 19.8169ZM11.9999 19.6425V20.6425V19.6425ZM11.2476 19.8169L10.8077 18.9188L10.8033 18.921L11.2476 19.8169ZM7.84563 21.5044L8.28996 22.4002L8.29 22.4002L7.84563 21.5044ZM4.58688 19.0744L3.60274 18.897L3.6027 18.8972L4.58688 19.0744ZM5.18163 15.7751L4.19859 15.5916L4.19749 15.5977L5.18163 15.7751ZM4.67013 14.2451L5.34928 13.5111L5.34805 13.51L4.67013 14.2451ZM2.23188 11.9966L2.9098 11.2615L2.90961 11.2613L2.23188 11.9966ZM3.46563 8.08162L3.32994 7.09087L3.32902 7.091L3.46563 8.08162ZM7.02513 7.59413L6.8922 6.603L6.88944 6.60337L7.02513 7.59413ZM8.28963 6.70237L7.40302 6.23983L7.40065 6.24443L8.28963 6.70237ZM9.97563 3.47063L9.09102 3.00427L9.08903 3.00809L9.97563 3.47063ZM14.0249 3.47063L13.1382 3.93292L14.8234 7.16542L15.7101 6.70313L16.5969 6.24083L14.9116 3.00833L14.0249 3.47063ZM15.7101 6.70313L14.8254 7.1692C15.0244 7.54692 15.31 7.87213 15.6589 8.11818L16.2352 7.30095L16.8115 6.48373C16.7208 6.41977 16.6466 6.33524 16.5949 6.23705L15.7101 6.70313ZM16.2352 7.30095L15.6589 8.11818C16.0078 8.36422 16.41 8.52411 16.8326 8.58474L16.9746 7.59488L17.1166 6.60501C17.0068 6.58925 16.9022 6.54769 16.8115 6.48373L16.2352 7.30095ZM16.9746 7.59488L16.8389 8.58563L20.3984 9.07313L20.5341 8.08238L20.6698 7.09162L17.1103 6.60412L16.9746 7.59488ZM20.5341 8.08238L20.3975 9.073C21.4646 9.22015 21.8773 10.5316 21.088 11.2633L21.7679 11.9966L22.4477 12.73C24.474 10.8516 23.4107 7.4696 20.6707 7.09175L20.5341 8.08238ZM21.7679 11.9966L21.0897 11.2617L18.6522 13.511L19.3304 14.2459L20.0085 14.9808L22.446 12.7315L21.7679 11.9966ZM19.3304 14.2459L18.6529 13.5104C18.3213 13.8158 18.0724 14.2001 17.9293 14.6275L18.8776 14.945L19.8258 15.2625C19.8618 15.1549 19.9245 15.0582 20.0079 14.9814L19.3304 14.2459ZM18.8776 14.945L17.9293 14.6275C17.7862 15.055 17.7535 15.5117 17.8343 15.9552L18.8181 15.7759L19.8019 15.5966C19.7816 15.485 19.7898 15.3701 19.8258 15.2625L18.8776 14.945ZM18.8181 15.7759L17.834 15.9533L18.4288 19.2518L19.4129 19.0744L20.397 18.8969L19.8023 15.5984L18.8181 15.7759ZM19.4129 19.0744L18.4287 19.2515C18.6132 20.2764 17.5452 21.0825 16.6018 20.6102L16.1541 21.5044L15.7064 22.3986C18.1185 23.6062 20.8741 21.5474 20.3971 18.8972L19.4129 19.0744ZM16.1541 21.5044L16.5985 20.6085L13.1965 18.921L12.7521 19.8169L12.3078 20.7127L15.7098 22.4002L16.1541 21.5044ZM12.7521 19.8169L13.192 18.9188C12.8209 18.737 12.4131 18.6425 11.9999 18.6425V19.6425V20.6425C12.1081 20.6425 12.215 20.6673 12.3122 20.7149L12.7521 19.8169ZM11.9999 19.6425V18.6425C11.5866 18.6425 11.1788 18.737 10.8077 18.9188L11.2476 19.8169L11.6875 20.7149C11.7848 20.6673 11.8916 20.6425 11.9999 20.6425V19.6425ZM11.2476 19.8169L10.8033 18.921L7.40126 20.6085L7.84563 21.5044L8.29 22.4002L11.692 20.7127L11.2476 19.8169ZM7.84563 21.5044L7.4013 20.6085C6.44967 21.0805 5.38773 20.2701 5.57106 19.2515L4.58688 19.0744L3.6027 18.8972C3.12453 21.5537 5.88459 23.5933 8.28996 22.4002L7.84563 21.5044ZM4.58688 19.0744L5.57102 19.2518L6.16577 15.9525L5.18163 15.7751L4.19749 15.5977L3.60274 18.897L4.58688 19.0744ZM5.18163 15.7751L6.16465 15.9586C6.3337 15.053 6.01888 14.1307 5.34928 13.5111L4.67013 14.2451L3.99098 14.9791C4.16438 15.1396 4.23956 15.3723 4.19861 15.5916L5.18163 15.7751ZM4.67013 14.2451L5.34805 13.51L2.9098 11.2615L2.23188 11.9966L1.55396 12.7318L3.99221 14.9803L4.67013 14.2451ZM2.23188 11.9966L2.90961 11.2613C2.12534 10.5385 2.53332 9.21966 3.60224 9.07225L3.46563 8.08162L3.32902 7.091C0.590935 7.46859 -0.477076 10.8598 1.55415 12.7319L2.23188 11.9966ZM3.46563 8.08162L3.60132 9.07238L7.16082 8.58488L7.02513 7.59413L6.88944 6.60337L3.32994 7.09087L3.46563 8.08162ZM7.02513 7.59413L7.15806 8.58525C7.58471 8.52803 7.99123 8.36859 8.34303 8.1205L7.76671 7.30327L7.19038 6.48605C7.10186 6.54848 6.99956 6.5886 6.8922 6.603L7.02513 7.59413ZM7.76671 7.30327L8.34303 8.1205C8.69482 7.8724 8.98148 7.543 9.17861 7.16032L8.28963 6.70237L7.40065 6.24443C7.35104 6.34073 7.27891 6.42362 7.19038 6.48605L7.76671 7.30327ZM8.28963 6.70237L9.17623 7.16491L10.8622 3.93316L9.97563 3.47063L9.08903 3.00809L7.40303 6.23984L8.28963 6.70237ZM9.97563 3.47063L10.8602 3.93698C11.3448 3.01788 12.663 3.02521 13.1379 3.93378L14.0241 3.47063L14.9104 3.00747C13.6842 0.661043 10.3225 0.668375 9.09103 3.00427L9.97563 3.47063Z"
                                    fill="#FFC107" mask="url(#path-1-inside-1_2217_2148)" />
                            </svg>
                        </div>
                        <p class="fs-8 noto_sans text-neutral-600">2025/9/13</p>
                    </div>
                    <div class="py-1 px-3 bg-neutral-250 rounded-pill mb-5">
                        <p class="fs-8 text-neutral-700">購買產品：精選甜點盒 (3個月)、無負擔甜點盒(3個月)、季節限定甜點盒(12個月)</p>
                    </div>
                    <div>
                        <p class="fw-bold ls-1 mb-2 lh-sm">愛吃甜點也很省腦，一盒甜是我的快樂密碼</p>
                        <p id="textBox" class="text-truncate-box mb-lg-4 mb-6">
                            不是我在誇，一盒甜都懂甜點控在想什麼。不只每次內容都有驚喜，還能吃到那種限時聯名，有種 VIP 搶先嚐的爽感，連同事看到我午茶的甜點都問哪裡買！</p>
                    </div>
                </div>
                <div class="align-self-lg-start align-self-end flex-grow-1" style="width: 200px;">
                    <div class="d-flex justify-content-end align-items-center p-3 me-lg-5 me-0">
                        <svg class="me-1" width="20" height="21" viewBox="0 0 20 21" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M11.6667 8.83333H15.6367C15.9207 8.83334 16.2001 8.90595 16.4482 9.04427C16.6963 9.18259 16.9049 9.38202 17.0543 9.62364C17.2036 9.86525 17.2888 10.141 17.3016 10.4248C17.3144 10.7086 17.2545 10.9909 17.1275 11.245L14.2108 17.0783C14.0724 17.3554 13.8595 17.5884 13.596 17.7512C13.3325 17.914 13.0289 18.0001 12.7192 18H9.37167C9.235 18 9.10028 17.9833 8.9675 17.95L5.83333 17.1667M11.6667 8.83333V4.66667C11.6667 4.22464 11.4911 3.80072 11.1785 3.48816C10.866 3.17559 10.442 3 10 3H9.92083C9.50417 3 9.16667 3.3375 9.16667 3.75417C9.16733 4.34931 8.99096 4.9312 8.66 5.42583L5.83333 9.66667V17.1667M11.6667 8.83333H10M5.83333 17.1667H4.16667C3.72464 17.1667 3.30072 16.9911 2.98816 16.6785C2.67559 16.366 2.5 15.942 2.5 15.5V10.5C2.5 10.058 2.67559 9.63405 2.98816 9.32149C3.30072 9.00893 3.72464 8.83333 4.16667 8.83333H6.25"
                                stroke="#4A443D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <p class="fs-8">此評論有幫助</p>
                    </div>
                </div>
            </div>
        </div>
        <nav class="d-lg-block d-none">
            <ul class="d-flex justify-content-center">
                <li class="custom-page-item active"><a class="custom-page-link" href="#">1</a></li>
                <li class="custom-page-item"><a class="custom-page-link" href="#">2</a></li>
                <li class="custom-page-item"><a class="custom-page-link" href="#">3</a></li>
                <li class="custom-page-item"><a class="custom-page-link" href="#">4</a></li>
                <li class="custom-page-item"><a class="custom-page-link" href="#">5</a></li>
                <li class="custom-page-item"><a class="custom-page-link" href="#">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M10.2932 8.46466C10.1057 8.65219 10.0004 8.9065 10.0004 9.17166C10.0004 9.43683 10.1057 9.69113 10.2932 9.87866L12.4142 11.9997L10.2932 14.1207C10.1056 14.3082 10.0001 14.5625 10 14.8278C9.99991 15.0931 10.1052 15.3475 10.2927 15.5352C10.4802 15.7228 10.7346 15.8283 10.9998 15.8284C11.2651 15.8285 11.5196 15.7232 11.7072 15.5357L14.5362 12.7067C14.7237 12.5191 14.829 12.2648 14.829 11.9997C14.829 11.7345 14.7237 11.4802 14.5362 11.2927L11.7072 8.46466C11.5197 8.27719 11.2654 8.17188 11.0002 8.17188C10.735 8.17188 10.4807 8.27719 10.2932 8.46466Z"
                                fill="#4A443D" />
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>
        <nav class="d-block d-lg-none">
            <ul class="d-flex justify-content-center">
                <li class="custom-page-dropmenu">
                    <button type="button" class="custom-page-dropmenu-btn" id="dropdownMenu" data-bs-toggle="dropdown"
                        aria-expanded="false">1</button>
                </li>
                <li class="custom-page-item"><a class="custom-page-link" href="#">/</a></li>
                <li class="custom-page-item"><a class="custom-page-link" href="#">5</a></li>
                <li class="custom-page-item"><a class="custom-page-link" href="#">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M10.2932 8.46466C10.1057 8.65219 10.0004 8.9065 10.0004 9.17166C10.0004 9.43683 10.1057 9.69113 10.2932 9.87866L12.4142 11.9997L10.2932 14.1207C10.1056 14.3082 10.0001 14.5625 10 14.8278C9.99991 15.0931 10.1052 15.3475 10.2927 15.5352C10.4802 15.7228 10.7346 15.8283 10.9998 15.8284C11.2651 15.8285 11.5196 15.7232 11.7072 15.5357L14.5362 12.7067C14.7237 12.5191 14.829 12.2648 14.829 11.9997C14.829 11.7345 14.7237 11.4802 14.5362 11.2927L11.7072 8.46466C11.5197 8.27719 11.2654 8.17188 11.0002 8.17188C10.735 8.17188 10.4807 8.27719 10.2932 8.46466Z"
                                fill="#4A443D" />
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</section>