.faq-wave {
  &::before {
    content: "";
    width: 100%;
    height: 20px;
    background-image: url("/assets/images/Home_Page/section\ 08_wave_mobile.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: -20px;
  }
  @media (min-width: 576px) {
    &::before {
      background-image: url("/assets/images/Home_Page/section08_wave.svg");
      height: 60px;
      top: -60px;
    }
  }
}

.faq-bg {
  background-color: $neutral-300;
  .accordion-button,
  .accordion-body {
    background-color: $neutral-300;
  }
  @media (min-width: 576px) {
    background-color: $neutral-200;
    .accordion-button,
    .accordion-body {
      background-color: $neutral-200;
    }
  }
}
.rounded-panel {
  border-radius: 80px;
}

.faq-nav {
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow-x: auto;
  scrollbar-width: none;
  margin-bottom: 16px;
  .nav-item {
    .nav-link {
      text-wrap: nowrap;
      padding: 12px 24px;
      border: 1.5px solid $neutral-400;
      border-radius: 100px;
      color: $neutral-800;
      &:hover,
      &:active,
      &.active {
        background-color: $neutral-400;
        color: $neutral-900;
      }
    }
  }
  @media (min-width: 576px) {
    justify-content: center;
    margin-bottom: 0;
    .nav-item {
      .nav-link {
        padding: 12px 24px;
        border: 1.5px solid $neutral-400;
        border-radius: 100px;
        color: $neutral-800;
        &:hover,
        &:active,
        &.active {
          background-color: $neutral-400;
          color: $neutral-900;
        }
      }
    }
  }
}

.accordion-item {
  .accordion-button {
    padding: 12px 0px;
    &::after {
      display: none;
      /* 隱藏預設箭頭 */
    }
    &:focus {
      box-shadow: none;
    }
    /* 收合顯示家浩 */
    &[aria-expanded="false"] {
      .add {
        display: inline-block;
      }
      .sub {
        display: none;
      }
    }
    /* 展開時顯示減號 */
    &[aria-expanded="true"] {
      .add {
        display: none;
      }
      .sub {
        display: inline-block;
      }
    }
    &:hover,
    &:active {
      border: none;
      $accordion-button-focus-box-shadow: $neutral-300;
      background-color: $neutral-300;
    }
  }
  .accordion-collapse {
    border: none;

    .accordion-body {
      padding: 0 0 16px 0;
      &:active,
      &:focus {
        border: none;
      }
    }
  }
  @media (min-width: 576px) {
    .accordion-button {
      padding: 16px 24px;
    }
    .accordion-collapse {
      .accordion-body {
        padding: 0px 24px 24px 24px;
        border: none;
      }
    }
  }
}
