.cakeroll-img {
  right: calc(50% - 1401px);
  bottom: -17px;
}

.cake-img {
  width: 244px;
  height: 272px;
  left: -20px;
  top: -48px;
  bottom: unset;
}

.dessert-img {
  right: -44px;
  top: -60px;
}

@media (max-width: 992px) {
  .subscribe-img {
    width: 152px;
    height: 40px;
  }

  .cakeroll-img {
    width: 388px;
    height: 260px;
    top: -60px;
    left: calc(50% - 23.5px);
  }

}

@media (min-width:992px) {
  .cake-img {
    top: unset;
    left: -36px;
    bottom: -173px;
    width: 568px;
    height: 636px;
  }
}