.container-1076 {
  max-width: 351px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
  @media (min-width: 576px) {
    max-width: 540px;
  }
  @media (min-width: 992px) {
    max-width: 1076px;
  }
}

// 波浪1
.theme-feature {
  &::before {
    content: "";
    width: 100%;
    height: 20px;
    background-image: url("/assets/images/Theme_Detail/Feature/Vector.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: -20px;

    @media (min-width: 576px) {
      height: 80px;
      top: -80px;
      background-image: url("/assets/images/Theme_Detail/Feature/Clip\ path\ group.png");
    }
  }
}
// 波浪2
.theme-feature {
  &::after {
    content: "";
    width: 100%;
    height: 20px;
    background-image: url("/assets/images/Theme_Detail/Feature/Wave_2_mobile.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 1256px;

    @media (min-width: 576px) {
      height: 80px;
      top: 707px;
      background-image: url("/assets/images/Theme_Detail/Feature//Wave_2.png");
    }
  }
}
// 波浪3
.theme-content {
  &::after {
    content: "";
    width: 100%;
    height: 20px;
    background-image: url("/assets/images/Theme_Detail/Feature/WaveBackground_up.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0px;

    @media (min-width: 576px) {
      height: 80px;
      bottom: 0px;
      background-image: url("/assets/images/Theme_Detail/Feature/WaveBackground_up_desktop.png");
    }
  }
}

.theme-content {
  .container {
    padding-top: 68px;
    padding-bottom: 68px;
    @media (min-width: 576px) {
      padding-top: 160px;
      padding-bottom: 160px;
    }
  }
}

.detail-feature-card {
  // padding: 44px 49px;
  height: 312px;
  text-align: center;
  background-image: url("/assets/images/Theme_Detail/Feature/FeatureCard_Background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%; /* 背景圖完全撐滿容器，不管比例 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* 垂直置中 */
}
.detail-feature-card-padding {
  height: 100%; /* 高度撐滿容器 */
  padding: 44px 43px 45px 44px;
  @media (min-width: 576px) {
    padding: 44px 49px;
  }
}
// 背景網格
.backgroundPattern {
  position: absolute;
  opacity: 0.5;
  top: 0px;
  left: 0px;
  width: 100%;
  &.collapse,
  &.expanded {
    display: none;
  }
  @media (min-width: 576px) {
    top: 0px;
    height: auto;
  }
}

/* 先把兩張圖預設都隱藏 */
// .backgroundPattern.collapse,
// .backgroundPattern.expanded {
//   display: none;
// }
@media (max-width: 576px) {
  /* 收合狀態：aria-expanded="false" → 顯示 collapse 圖片 */
  .moreCards[aria-expanded="false"] ~ .collapse.backgroundPattern {
    display: block;
    height: auto;
  }

  /* 展開狀態：aria-expanded="true" → 顯示 expanded 圖片 */
  .moreCards[aria-expanded="true"] ~ .backgroundPattern.expanded {
    display: block;
    height: 3297px;
  }
}

.first-sweet-box-title {
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 36px;
  @media (min-width: 576px) {
    padding-left: 357px;
    padding-right: 357px;
    margin-bottom: 100px;
  }
}
.first-sweet-box-content {
  position: relative; /* 讓 overlay 可以對齊 */
  overflow: hidden; /* 把超出容器邊界的部分裁掉 */
  .overlay {
    position: absolute; /* 讓 overlay 能脫離排版 */
    inset: 0; /* 縮寫，等於 top:0; right:0; bottom:0; left:0; → 讓 overlay 蓋滿整個容器 */
    background: rgba(0, 0, 0, 0.6); /* 半透明黑色背景 */
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 60px;
    border-radius: 24px;
    opacity: 0; /* 預設透明（隱藏） */
    transition: opacity 0.5s ease; /* overlay 從透明到完全顯現的總時間 */
  }
}
.first-sweet-box-content:hover .overlay {
  opacity: 1;
}
// 收合按鈕
.moreCards {
  border: 1.5px solid $neutral-400;
  border-radius: 100px;
  padding: 12px 145px;
  color: $neutral-700;
  background-color: $neutral-200;
  font-weight: bold;
  font-style: 14px;
  font-size: 14px;
  // 收合時，收合按鈕會顯現
  &[aria-expanded="false"] .when-collapsed {
    display: block;
  }
  // 收合時，收合按鈕會隱藏
  &[aria-expanded="false"] .when-not-collapsed {
    display: none;
  }
  // 展開時，展開按鈕會隱藏
  &[aria-expanded="true"] .when-collapsed {
    display: none;
  }
  // 展開時，收合按鈕會顯現
  &[aria-expanded="true"] .when-not-collapsed {
    display: block;
  }
}

/* 手機版：收合時顯示漸層 */
@media (max-width: 992px) {
  .card-mask::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 141px; /* 漸層高度可調 */
    background: linear-gradient(
      to bottom,
      rgba($neutral-200, 0) 0%,
      /*漸層起點*/ rgba($neutral-200, 1) 100% /*漸層終點*/
    );
    border-radius: 0 0 1rem 1rem; /* 跟卡片圓角一致 */
    pointer-events: none;
    transition: opacity 0.3s ease;
  }

  /* 展開後隱藏漸層 */
  .card-mask:has(.collapse.show)::after {
    opacity: 0;
    visibility: hidden;
  }
}
